- unless @asset.new_record?
  .row
    .col-md-4
      = editable_asset_field_tag(@asset,'serial_number', '* Vehicle Identification Number (VIN)', required: true)
  .row
    .col-md-4
      = editable_asset_field_tag(@asset, :asset_tag, '* Asset ID')
  .row
    .col-md-3
      = editable_asset_field_tag(@asset, 'external_id', 'External ID', required: false)
    .col-md-3
      .form-group
        %label.control-label
          NTD ID
        .display-value
          = link_to (@asset.ntd_id || 'Unnamed Fleet'), asset_fleet_path(@asset.asset_fleets.first) if @asset.asset_fleets.count > 0
  .row
    .col-sm-6
      = editable_asset_association_tag(@asset, :fta_asset_class, '* Class', FtaAssetClass.where(id: @asset.fta_asset_class_id).collect{|x| [x.id, x.name]}, inputclass: 'full-width')

      - if Rails.application.config.try(:enable_fta_type_asset_subtype_validation)
        - fta_type_collection = FtaSupportVehicleType.active.where(fta_asset_class: @asset.fta_asset_class).collect{|f| ["#{f.to_global_id}", "#{f.to_s}"]}.sort_by{ |id, string| string }
        - asset_subtype_collection = AssetSubtype.active.with_fta_type(@asset.fta_type).order(:name).collect{|x| [x.id, x.name]}
      - else
        - fta_type_collection = FtaSupportVehicleType.active.collect{|f| ["#{f.to_global_id}", "#{f.to_s}"]}.sort_by{ |id, string| string }
        - asset_subtype_collection = AssetSubtype.where(asset_type: AssetType.where(class_name: 'SupportVehicle')).order(:name).collect{|x| [x.id, x.name]}
      = editable_asset_association_tag(@asset, :global_fta_type, '* Type', fta_type_collection, current_method: :global_fta_type, inputclass: 'full-width')
      = editable_asset_association_tag(@asset, :asset_subtype, '* Subtype', asset_subtype_collection, inputclass: 'full-width')

- if Rails.application.config.try(:enable_fta_type_asset_subtype_validation)
  :javascript
    var fta_types_by_class = #{FtaAssetClass.where(id: @asset.fta_asset_class_id).each_with_object({}){|c, h| h[c.id] = FtaSupportVehicleType.active.where(fta_asset_class: c).collect{|t| {value: t.to_global_id.to_s, text: t.name}}}.to_json.html_safe};
    $('#fta_asset_class_id').on('shown', function(e, editable) {
        editable.input.$input.on('change', function() {
          newValue = $(this).val();
          $('#global_fta_type').editable('hide');
          $('#global_fta_type').editable('disable');
          $('#global_fta_type').editable('option','source', fta_types_by_class[newValue]);
          $('#global_fta_type').editable('setValue', null);
          $('#global_fta_type').editable('enable');
          $('#global_fta_type').editable('show', false);
        });
      });

    var subtypes_by_type = #{FtaSupportVehicleType.all.each_with_object({}){|t, h| h[t.to_global_id] = AssetSubtype.active.with_fta_type(t).collect{|s| {value: s.id, text: s.name}}}.to_json.html_safe};
    $('#global_fta_type').on('shown', function(e, editable) {
        editable.input.$input.on('change', function() {
          newValue = $(this).val();
          $('#asset_subtype_id').editable('hide');
          $('#asset_subtype_id').editable('disable');
          $('#asset_subtype_id').editable('option','source', subtypes_by_type[newValue]);
          $('#asset_subtype_id').editable('setValue', null);
          $('#asset_subtype_id').editable('enable');
          $('#asset_subtype_id').editable('show', false);
        });
      });
