- unless @asset.new_record?
  .row.border-between
    .col-sm-6
      .row.other-fields-container
        .col-sm-6.other-type-container{data: {other_type_ids: [""]}}
          = editable_asset_association_tag(@asset, :operator, include_blank: true)
        .col-sm-6.other-value-container
          = editable_asset_field_tag(@asset, :other_operator, 'Operator (Other)')
      = editable_asset_field_tag(@asset, :in_service_date, type: 'date')
    .col-sm-6
      = editable_asset_association_tag(@asset, :primary_fta_mode_type, 'Primary Mode', url: mode_collection_inventory_path(@asset, format: :json, type: :primary))
      = editable_asset_association_tag(@asset, :secondary_fta_mode_type, 'Secondary Mode(s)', type: 'checklist', url: mode_collection_inventory_path(@asset, format: :json, type: :secondary), suffix: '_ids')
