- unless @asset.new_record?
  = editable_asset_field_tag(@asset, :other_manufacturer, '* Manufacturer')
  = editable_asset_field_tag(@asset, :other_manufacturer_model, '* Model')
  = editable_asset_field_tag(@asset, :manufacture_year, '* Year of Manufacture', type: 'number', min: get_system_asset_starting_year, max: Date.today.year)

  - view_component = 'app_characteristics_form'
  - if lookup_context.template_exists?(view_component, 'transit_assets/capital_equipment', true)
    = render :partial => "transit_assets/capital_equipment/#{view_component}"

