- unless @asset.new_record?
  .row.border-between
    .col-sm-6
      = editable_asset_field_tag(@asset, :other_manufacturer, '* Manufacturer')
      = editable_asset_field_tag(@asset, :other_manufacturer_model, '* Model')
      .col-sm-4= editable_asset_field_tag(@asset, :manufacture_year, '* Year of Manufacture', type: 'number', min: get_system_asset_starting_year, max: Date.today.year+1)
      .col-sm-12
        .form-group
          %label.control-label
            Description
          .display-value
            %a.editable-field{href:'#', id: 'description', data: {name: 'asset[description]', type: 'textarea', url: "#{asset_path(@asset)}"}} #{@asset.description}

    - view_component = 'app_characteristics_form'
    - if lookup_context.template_exists?(view_component, 'transit_assets/capital_equipment', true)
      = render :partial => "transit_assets/capital_equipment/#{view_component}"
    .col-sm-6
      .row
        .col-sm-2
          = editable_asset_field_tag(@asset, :quantity, '* Quantity', required: true, type: 'number', min: 1)
        .col-sm-3
          = editable_asset_association_tag(@asset, :quantity_unit, '* Quantity Unit', Uom.usc_units.collect{|u| [u, u.titleize]}, suffix: '', inputclass: 'full-width')
      .form-group
        %label.control-label
          Serial # / Inventory ID
        .display-value
          %a.editable-field{href:'#', id: 'serial_number_strings', data: {name: 'asset[serial_number_strings]', type: 'textarea', url: "#{asset_path(@asset)}"}} #{@asset.serial_number_strings}