- unless @asset.new_record?
  = editable_asset_field_tag(@asset, :title_number, required: false)
  = editable_asset_association_tag(@asset, :title_ownership_organization, include_blank: true)
  = editable_asset_field_tag(@asset, :other_title_ownership_organization, required: false)
  = editable_asset_association_tag(@asset, :lienholder, include_blank: true)
  = editable_asset_field_tag(@asset, :other_lienholder, required: false)
