:ruby
  table_dom_id = SecureRandom.hex


:css

= javascript_include_tag  "https://kit.fontawesome.com/#{ENV['FONT_AWESOME']}.js"
.library-table
  %table.elbat{:id => table_dom_id,
    use: 'true',
    data: {:use => 'true',
      side: 'client',
      current_page: '0',
      current_page_size: '10',
      page_sizes: "10,20,50,100",
      search: 'client',
      export: "['csv', 'txt', 'excel']",
      columns:'{"0":{"name":"Asset ID","type":"drilldown-link"},
                "1":{"name":"Organization"},
                "2":{"name":"Description"},
                "3":{"name":"Subtype"},
                "4":{"name":"From Line"},
                "5":{"name":"From"},
                "6":{"name":"To Line"},
                "7":{"name":"To"},
                "8":{"name":"Track"},
                "9":{"name":"Max Permissible Speed"},
                "10":{"name":"Max Permissible Speed Unit"},
                "11":{"name":"Speed Restriction"},
                "12":{"name":"Speed Restriction Unit"},
                "13":{"name":"Restriction Cause"},
                "14":{"name":"Active Start","type":"right-align"},
                "15":{"name":"Active End","type":"right-align"},
                "16":{"name":"Submitted By"},
                "17":{"name":"Status"},
                "18":{"name":"Comments"}}',
      selected_columns: "0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16",
      cookies: "true",
      sort: 'client',
      params: "{}",
      filter: "[]",
      data_source: 'client',
      url: ''}}


  - restrictions.each_with_index do |r, index|
    %div.actions
      - evt = r.allowable_events.first
      - if can? evt.to_sym, r
        = link_to fire_workflow_event_inventory_asset_event_path(r.send(Rails.application.config.asset_base_class_name.underscore), r, :event => evt), class: "btn btn-primary btn-xs" do
          = "#{evt.titleize}"


    :javascript
      add_row('#{table_dom_id}',
        {
          "0": '#{h link_to r.id, performance_restrictions_path(r)}',
          "1": '#{h link_to(r.transam_asset.asset_tag, inventory_path(r.transam_asset.object_key))}',
          "2": '#{h r.transam_asset.description}',
          "3": '#{h r.transam_asset.asset_subtype}',
          "4": '#{h r.from_line}',
          "5": '#{h format_as_decimal(r.from_segment)}',
          "6": '#{h r.to_line}',
          "7": '#{h format_as_decimal(r.to_segment)}',
          "8": '#{h InfrastructureTrack.find_by(id: r.transam_asset.infrastructure_track_id)}',
          "9": '#{h format_as_integer(r.transam_asset.max_permissible_speed)}',
          "10": '#{h r.transam_asset.max_permissible_speed_unit}',
          "11": '#{h format_as_integer(r.speed_restriction)}',
          "12": '#{h r.speed_restriction_unit}',
          "13": '#{h r.performance_restriction_type}',
          "14": '#{h format_as_date_time(r.start_datetime)}',
          "15": '#{h r.end_datetime.present? ? format_as_date_time(r.end_datetime): "Until Removed"}',
          "16": '#{h r.creator}',
          "17": '#{h r.status }',
          "18": '#{h r.comments }',
        }, #{index});
        // TEMP UNTIL WE DO THIS FOR REAL
        // TODO: PLEASE DON'T LET THIS GO TO PRODUCTION
        // HACKY HACK IS HACKY
        $(".row-item").eq(#{index}).ready(function (){
          let cell = $("##{table_dom_id} .action-column").eq(#{index}).find(".cell-text");
          $(".actions").eq(#{index}).detach().appendTo(cell);
        });




