- last_date = start_of_planning_year - 1.day

= render :layout => "update_event_form" do |f|
  = f.input :current_mileage, :label => "Current Mileage", :input_html => { :min => 0  }
  = f.input :event_date, :label => 'Date of Mileage', :wrapper => :vertical_append do
    = f.input_field :event_date, :class => "form-control", :as => :string, :data => {'behavior' => 'datepicker'}, :value => format_as_date(f.object.event_date)
    %span.input-group-addon
      %i.fa.fa-calendar


  .form-group
    %label Set as Ending Annual Mileage for NTD A-30
    %div
      = check_box_tag :ntd_mileage_update,'1', (last_date.month == @asset_event.event_date.month && last_date.day == @asset_event.event_date.day)

  = f.input :comments, :input_html => { :rows => 6 }, :placeholder => "Enter any additional comments..."
  .form-group
    = f.button :submit, "Update the mileage", :class => 'btn btn-primary'

:javascript

  switch_mode();

  $("#ntd_mileage_update").bootstrapSwitch({
    onSwitchChange: switch_mode
  });

  function switch_mode() {
    if ($("#ntd_mileage_update").prop('checked')) {
      $('#asset_event_event_date').val('#{last_date.strftime("%m/%d/%Y")}');
      $('#asset_event_event_date').attr('disabled', true);
    } else {
      $('#asset_event_event_date').val('#{Date.today.strftime("%m/%d/%Y")}');
      $('#asset_event_event_date').attr('disabled', false);
    }

    transam.make_same_height('.header-part');
  };

