:ruby
  if params[:current_mileage]
    @asset_event.current_mileage = params[:current_mileage].to_i
  end
  
= render :layout => "update_event_form" do |f|
  = f.input :current_mileage, :label => "Current Mileage", :input_html => { :min => 0  }
  - event_date = Chronic.parse(params[:mileage_event_date]) || f.object.event_date
  = f.input :event_date, :label => 'Date of Mileage', :wrapper => :vertical_append do
    = f.input_field :event_date, :class => "form-control datepicker", :as => :string, :data => {'date-container' => "##{format_as_id(@asset_event.asset_event_type.name)}_dialog"}, :value => format_as_date(event_date)
    %span.input-group-addon
      %i.fa.fa-calendar

  = f.input :comments, :input_html => { :rows => 6 }, :placeholder => "Enter any additional comments..."
  .form-group
    = f.button :submit, "Update the mileage", :class => 'btn btn-primary'


