= dialog_tag('Usage Update', {:icon => "#{UsageUpdateEvent.asset_event_type.display_icon_name}", :class => "header_part"}) do

  = format_field("Percent 5311 Routes", format_as_percentage(@asset_event.pcnt_5311_routes))
  = format_field("Avg. Daily Use", format_as_integer(@asset_event.avg_daily_use))
  = format_field("Avg. Daily Passenger Trips", format_as_integer(@asset_event.avg_daily_passenger_trips))

  = format_field("Reported On", format_as_date(@asset_event.event_date))
  = format_field("Comments", @asset_event.comments.html_safe) unless @asset_event.comments.blank?
