= render :layout => "update_event_form" do |f|
  = f.input :pcnt_5311_routes, :wrapper => :vertical_append, :label => "Percent 5311 Routes" do
    = f.input :pcnt_5311_routes, :class => 'form-control', :input_html => {:max => 100, :min => 0, :class => "at-least-one"}, :label => false
    %span.input-group-addon
      = '%'
  = f.input :avg_daily_use_hours, :label => "Avg. Daily Use (hrs)", :input_html => {:max => 24, :min => 0, :class => "at-least-one"}
  = f.input :avg_daily_use_miles, :label => "Avg. Daily Miles", :input_html => {:min => 0, :class => "at-least-one"}
  = f.input :avg_daily_passenger_trips, :label => "Avg. Daily Passenger Trips", :input_html => {:max => 10000, :min => 0, :class => "at-least-one"}

  = f.input :event_date, :label => 'Date of Report', :wrapper => :vertical_append do
    = f.input_field :event_date, :as => :string, :class => 'form-control datepicker', :data => {'behavior' => 'datepicker'}, :value => format_as_date(f.object.event_date)
    %span.input-group-addon
      %i.fa.fa-calendar
  = f.input :comments, :input_html => { :rows => 6 }, :placeholder => "Enter any additional comments..."
  .form-group
    = f.button :submit, "Update vehicle usage metrics", :class => 'btn btn-primary'
:javascript
  $(document).ready(function() {
    // Return true if at least one of the data fields is truthy, false otherwise
    is_form_blank = function() {
      var is_blank = false;
      $(".at-least-one").each(function() {
        is_blank = is_blank || this.value; // If any field is filled, the form isn't blank
      });
      return !is_blank;
    };

    // Disable the submit button unless at least 1 data field is filled
    $("input[type=submit]").prop('disabled', is_form_blank());
    $(".at-least-one").blur(function() {
      $("input[type=submit]").prop('disabled', is_form_blank());
    });
  });
