- table_dom_id = SecureRandom.hex

.table-responsive
  %table.table.table-hover{:id => table_dom_id, :data => {:toggle => 'table',
    :card_view => "false",
    :pagination => 'true',
    :show_pagination_switch => 'true',
    :page_list => "[5, 10, 20, 50, 100, 200]",
    :page_size => current_user.num_table_rows,
    :search => 'false',
    :export_types => "['csv', 'txt', 'excel']",
    :show_export => 'true',
    :show_columns => 'true',
    :state_save => 'true',
    :state_save_id_table => "admin_and_maint_facilities_id",
    :state_save_expire => "1y"}, :style => 'width:100%;'}

    %thead
      %tr
        %th.center{:data => {:visible => 'false'}} Object Key
        %th.center{:data => {:sortable => 'true'}} Facility ID
        %th.center{:data => {:sortable => 'true'}} Name
        %th.center{:data => {:sortable => 'true'}} Section of Larger Facility
        %th.center{:data => {:sortable => 'true'}} Street
        %th.center{:data => {:sortable => 'true'}} City
        %th.center{:data => {:sortable => 'true'}} State
        %th.center{:data => {:sortable => 'true'}} Zip
        %th.center{:data => {:sortable => 'true'}} Condition Assessment
        %th.center{:data => {:sortable => 'true'}} Estimated Date of Condition Assessment
        %th.center{:data => {:sortable => 'true'}} Primary Mode
        %th.center{:data => {:sortable => 'true'}} Secondary Mode
        %th.center{:data => {:sortable => 'true'}} Private Mode
        %th.center{:data => {:sortable => 'true'}} Facility Type
        %th.center{:data => {:sortable => 'true'}} Year Built
        %th.center{:data => {:sortable => 'true'}} Square Feet
        %th.center{:data => {:sortable => 'true'}} Transit Agency Capital Responsibility
        %th.center{:data => {:sortable => 'true'}} Notes

    %tbody
      - @form.ntd_admin_and_maintenance_facilities.each do |f|
        %tr{:id => f.facility_object_key, :class => 'action-path'}
          %td.left= f.facility_object_key
          %td.left= f.facility_id
          %td.left= f.name
          %td.left= f.part_of_larger_facility ? 'X' : ''
          %td.left= f.address
          %td.left= f.city
          %td.left= f.state
          %td.left= f.zip
          %td.left= f.reported_condition_rating
          %td.left= format_as_date(f.reported_condition_date)
          %td.left= f.primary_mode
          %td.left= f.secondary_mode
          %td.left= f.private_mode
          %td.left= f.facility_type
          %td.left= f.year_built
          %td.left= f.size
          %td.left= format_as_percentage(f.pcnt_capital_responsibility)
          %td.left= f.notes


:javascript

  $('#' + '#{table_dom_id}').on('post-body.bs.table', function () {
    $('.transam-popover').popover({
      trigger: 'hover'
    });

    $('.transam-tooltip').tooltip();
  });

  function pcnt_formatter(value) {
    if (value == "") {
      return value;
    } else {
      return format("##0.000", value) + "%";
    }
  };

  $('#' + '#{table_dom_id}').on('click', 'td', function () {
    var path = "#{inventory_path('xxx')}";
    var row = $(this).parent('tr').attr('id');

    if ($(this).attr('data-field') != 'action-cell') {
      var url = path.replace("xxx", row);
      document.location.href = url;
    }
  });
