= editable_asset_association_tag(@asset, :manufacturer, nil, Manufacturer.active_for_asset_type(@asset.asset_type).pluck(:id, :name), current_method: :manufacturer_id)
= editable_asset_field_tag(@asset, :other_manufacturer)
= editable_asset_association_tag(@asset, :manufacturer_model)
= editable_asset_field_tag(@asset, :other_manufacturer_model)
= editable_asset_association_tag(@asset, :chassis, include_blank: true)
= editable_asset_field_tag(@asset, :other_chassis)

= editable_asset_field_tag(@asset, :manufacture_year, required: true, type: 'number', min: 1950, max: Date.today.year)

= editable_asset_association_tag(@asset, :fuel_type)
= editable_asset_field_tag(@asset, :other_fuel_type)
= editable_asset_association_tag(@asset, :dual_fuel_type)

= editable_asset_field_tag(@asset, :vehicle_length, required: true, type: 'number', min: 0)
= editable_asset_field_tag(@asset, :gross_vehicle_weight, type: 'number', min: 0)
= editable_asset_field_tag(@asset, :seating_capacity, required: true, type: 'number', min: 0)
= editable_asset_field_tag(@asset, :standing_capacity, required: true, type: 'number', min: 0)
= editable_asset_field_tag(@asset, :ada_accessible, 'ADA Accessible', type: 'boolean')
= editable_asset_field_tag(@asset, :wheelchair_capacity, type: 'number', min: 0)
= editable_asset_association_tag(@asset, :ramp_manufacturer, include_blank: true)
= editable_asset_field_tag(@asset, :other_ramp_manufacturer)

- view_component = 'app_characteristics_form'
- if lookup_context.template_exists?(view_component, 'transit_assets/revenue_vehicle', true)
  = render :partial => "transit_assets/revenue_vehicle/#{view_component}"
