.row.border-between
  .col-sm-6
    .row
      .col-sm-6
        = editable_asset_association_tag(@asset, :manufacturer, nil, Manufacturer.active_for_asset_type(@asset.asset_type).collect{|m| [m.id, m.to_s]})
      .col-sm-6
        = editable_asset_field_tag(@asset, :other_manufacturer, 'Manufacturer (Other)')
    .row
      .col-sm-6
        = editable_asset_association_tag(@asset, :manufacturer_model, 'Model')
      .col-sm-6
        = editable_asset_field_tag(@asset, :other_manufacturer_model, 'Model (Other)')
    .row
      .col-sm-6
        = editable_asset_association_tag(@asset, :chassis, include_blank: true, current_method: :chassis)
      .col-sm-6
        = editable_asset_field_tag(@asset, :other_chassis, 'Chassis (Other)')

    = editable_asset_field_tag(@asset, :manufacture_year, 'Year of Manufacture', required: true, type: 'number', min: 1950, max: Date.today.year)

    .row
      .col-sm-6
        = editable_asset_association_tag(@asset, :fuel_type)
      .col-sm-6
        = editable_asset_field_tag(@asset, :other_fuel_type, 'Fuel Type (Other)')

    = editable_asset_association_tag(@asset, :dual_fuel_type)

  .col-sm-6
    .row
      .col-sm-2
        = editable_asset_field_tag(@asset, :vehicle_length, 'Length', required: true, type: 'number', min: 0)
      .col-sm-3
        = editable_asset_association_tag(@asset, :vehicle_length_unit, 'Length Units', [Uom::FEET, Uom::INCH].collect{|u| [u, u.pluralize]}, current_method: :vehicle_length_unit, suffix: '')
        
    = editable_asset_field_tag(@asset, :gross_vehicle_weight, 'Gross Vehicle Weight Ratio (GVWR)', type: 'number', min: 0, suffix: 'lbs')
    = editable_asset_field_tag(@asset, :seating_capacity, 'Seating Capacity (Ambulatory)', required: true, type: 'number', min: 0)
    = editable_asset_field_tag(@asset, :standing_capacity, required: true, type: 'number', min: 0)
    .row
      .col-sm-6
        = editable_asset_field_tag(@asset, :ada_accessible, 'ADA Accessible', type: 'boolean')
      .col-sm-6
        = editable_asset_field_tag(@asset, :wheelchair_capacity, type: 'number', min: 0)
    .row
      .col-sm-6
        = editable_asset_association_tag(@asset, :ramp_manufacturer, 'Lift / Ramp Manufacturer', include_blank: true)
      .col-sm-6
        = editable_asset_field_tag(@asset, :other_ramp_manufacturer, 'Lift / Ramp Manufacturer (Other)')

    - view_component = 'app_characteristics_form'
    - if lookup_context.template_exists?(view_component, 'transit_assets/revenue_vehicle', true)
      = render :partial => "transit_assets/revenue_vehicle/#{view_component}"
