=# render :partial => "assets/accounting_asset_form", :locals => {:f => f}

= editable_asset_field_tag(@asset, :purchase_cost, required: true, type: 'number', min: 1)
= editable_asset_association_tag(@asset, :fta_funding_type)
= editable_asset_field_tag(@asset, :pcnt_capital_responsibility, type: 'number', min: 0, max: 100)
= editable_asset_association_tag(@asset, :fta_ownership_type)
= editable_asset_field_tag(@asset, :other_fta_ownership_type)
