- unless @asset.new_record?
  .row
    .col-md-4
      = editable_asset_field_tag(@asset,'serial_number', 'Vehicle Identification Number (VIN)')
  .row
    .col-md-4
      = editable_asset_field_tag(@asset, :asset_tag, '* Asset ID')
  .row
    .col-md-3
      = editable_asset_field_tag(@asset, 'external_id', 'External ID', required: false)
    .col-md-3
      .form-group
        %label.control-label
          NTD ID
        .display-value
          = link_to (@asset.ntd_id || 'Unnamed Fleet'), asset_fleet_path(@asset.asset_fleets.first) if @asset.asset_fleets.count > 0

  = editable_asset_association_tag(@asset, :fta_asset_class, '* Class', FtaAssetClass.where(fta_asset_category_id: @asset.fta_asset_category_id).collect{|x| [x.id, x.name]})
  = editable_asset_association_tag(@asset, :global_fta_type, '* Type', FtaVehicleType.all.collect{|f| ["#{f.to_global_id}", "#{f.to_s}"]}.sort_by{ |id, string| string }, current_method: :global_fta_type)
  = editable_asset_association_tag(@asset, :asset_subtype, '* Subtype', AssetSubtype.where(asset_type: AssetType.where(class_name: ['Vehicle', 'RailCar', 'Locomotive'])).order(:name).collect{|x| [x.id, x.name]})
  = editable_asset_association_tag(@asset, :esl_category, '* Estimated Service Life (ESL) Category', EslCategory.active.where(class_name: @asset.class.to_s).collect{|x| [x.id, x.name]})


