= editable_asset_association_tag(@asset, :operator, include_blank: true)
= editable_asset_field_tag(@asset, :other_operator)
= editable_asset_association_tag(@asset, :vehicle_features, current_method: :vehicle_feature_ids, type: 'checklist')
= editable_asset_field_tag(@asset, :in_service_date, type: 'date')
= editable_asset_association_tag(@asset, :primary_fta_mode_type_id, 'Primary FTA Mode Type', FtaModeType.pluck(:id, :name))
= editable_asset_association_tag(@asset, :primary_fta_service_type_id, 'Primary FTA Service Type', FtaServiceType.pluck(:id, :name))
= editable_asset_association_tag(@asset, :secondary_fta_mode_type_id, 'Secondary FTA Mode Type', FtaModeType.pluck(:id, :name), include_blank: true)
= editable_asset_association_tag(@asset, :secondary_fta_service_type_id, 'Secondary FTA Service Type', FtaServiceType.pluck(:id, :name), include_blank: true)
= editable_asset_field_tag(@asset, :dedicated, type: 'boolean')
