.row
  .col-sm-6= editable_asset_field_tag(@asset, :purchased_new, '* Purchased New', type: 'boolean')
.row
  .col-sm-9= editable_asset_field_tag(@asset, :purchase_date, '* Purchase Date', type: 'date', required: false)
.row
  .col-sm-3
    = editable_asset_field_tag(@asset, :contract_num, 'Contract / Purchase Order (PO) #', required: false)
  .col-sm-3
    = editable_asset_association_tag(@asset, :contract_type, 'Contract / PO Type', include_blank: true, inputclass: 'full-width')

- SystemConfig.transam_module_names.each do |mod|
  - if lookup_context.template_exists?("#{mod}_asset_form", 'assets', true)
    = render :partial => "transit_assets/#{mod}_purchase_form", :locals => {:asset => @asset}

= render partial: 'shared/vendor_with_other'
.row
  .col-sm-1
    = editable_asset_field_tag(@asset, :has_warranty, 'Warranty', type: 'boolean', inputclass: 'full-width')
  .col-sm-3
    = editable_asset_field_tag(@asset, :warranty_date, 'Warranty Expiration Date', type: 'date')
