= editable_asset_field_tag(@asset, :purchased_new, type: 'boolean')
= editable_asset_field_tag(@asset, :purchase_date, type: 'date')
= editable_asset_field_tag(@asset, :contract_num)
= editable_asset_association_tag(@asset, :contract_type, include_blank: true)
= editable_asset_association_tag(@asset, :vendor, include_blank: true)
= editable_asset_field_tag(@asset, :other_vendor)
= editable_asset_field_tag(@asset, :has_warranty, type: 'boolean')
= editable_asset_field_tag(@asset, :warranty_date, type: 'date')
