%span.subheader_organiation_short_name= "#{@asset.organization.short_name}"
= " : "
%span.subheader_serial_number= "#{@asset.serial_number}"
= " : "
%span.subheader_asset_tag="#{@asset.asset_tag}" 
= " : "
- manufacture_name = Manufacturer.where(code: 'ZZZ').pluck(:id).include?(@asset.manufacturer_id) ? @asset.other_manufacturer : @asset.manufacturer.try(:to_s)
%span.subheader_manufacturer.subheader_other_manufacturer="#{manufacture_name}"
= " : "
%span.subheader_manufacturer_model.subheader_other_manufacturer_model="#{@asset.manufacturer_model.name == 'Other' ? @asset.other_manufacturer_model : @asset.manufacturer_model.name}"
= " : "
%span.subheader_manufacture_year= "#{@asset.manufacture_year}"