.row.border-between
  .col-sm-8
    %h4.form-section-subheader
      Components

    %ul.nav.nav-tabs
      - ComponentType.where(fta_asset_category: @asset.fta_asset_class.fta_asset_category, fta_asset_class: @asset.fta_asset_class).each do |component_type|
        %li
          %a{:href => "##{"funding-component-" + component_type.id.to_s}", :data =>{:toggle => 'tab'}}
            = component_type


    .tab-content.sub-tabs
      - ComponentType.where(fta_asset_category: @asset.fta_asset_class.fta_asset_category, fta_asset_class: @asset.fta_asset_class).each do |component_type|
        .tab-pane.fade{id: "funding-component-" + component_type.id.to_s}
          .tab-content
            .form-group
              %label.control-label.string.required
                * Component ID

              = select_tag :funding_component_object_key, options_for_select(@asset.infrastructure_components.where(component_type: component_type).map{|x| [x.to_s, x.object_key, {'data-id': x.id}]}), {data: {behavior: 'component-picker', target: "component_funding_subform_#{component_type.id.to_s}", target_model: 'infrastructure_components', form_view: 'transit_assets/track/funding_component_form'}}
              
            %div{id: "component_funding_subform_#{component_type.id.to_s}"}      
  .col-sm-4
    .col-sm-6
      .form-group.form-inline
        %label.control-label
          * Direct Capital Responsibility
        .display-value
          %span.radio
            %label
              = radio_button_tag :direct_capital_responsibility, 'yes', @asset.direct_capital_responsibility, disabled: true
              Yes
          %span.radio
            %label
              = radio_button_tag :direct_capital_responsibility, 'no', !@asset.direct_capital_responsibility, disabled: true
              No
    .col-sm-6
      = editable_asset_field_tag(@asset, :pcnt_capital_responsibility, "% Capital Responsibility", type: 'number', min: 1, max: 100, required: false)

    .col-sm-12.other-type-container{data: {other_type_ids: [Infrastructure::SHARED_CAPITAL_RESPONSIBILITY_OTHER]}}
      = editable_asset_association_tag(@asset, :shared_capital_responsibility_organization, '* Organization with Shared Capital Responsibility', [[nil, 'N/A'], [Infrastructure::SHARED_CAPITAL_RESPONSIBILITY_OTHER, 'Other']] + Organization.all.collect{|m| [m.id, m.to_s]}, inputclass: 'full-width')
    .col-sm-12.other-value-container
      = editable_asset_field_tag(@asset, :other_shared_capital_responsibility, 'Shared Capital Responsibility (Other)', required: false)


