:css
  .border-between > [class*='col-']:before {
    margin-left: 0;
  }

.row.border-between
  .col-sm-6
    .form-group
      %fieldset
        %legend Gauge
        .col-sm-4
          = editable_asset_association_tag(@asset, :infrastructure_gauge_type, 'Gauge Type')
        .col-sm-2
          = editable_asset_field_tag(@asset, :gauge)
        .col-sm-2
          = editable_asset_field_tag(@asset, :gauge_unit, 'Unit', [Uom::FEET, Uom::INCH].collect{|u| [u, u.pluralize]}, current_method: :gauge_unit)

      %fieldset
        %legend Layout
        .col-sm-12
          = editable_asset_association_tag(@asset, :infrastructure_reference_rail, 'Reference Rail')

      %fieldset
        %legend Longitudinal Elevation
        .col-sm-12 
          %label Track Gradient
        .col-sm-2
          = editable_asset_field_tag(@asset, :track_gradient_pcnt, '%')
        .col-sm-2
          = editable_asset_field_tag(@asset, :track_gradient_degree, 'Degree')
        .col-sm-2
          = editable_asset_field_tag(@asset, :track_gradient, 'Gradient')
        .col-sm-2
          = editable_asset_field_tag(@asset, :track_gradient_unit, 'Unit', [['percent', '%'],['degree', 'degree'],['ft/mile','ft/mile']],current_method: :track_gradient_unit)

      %fieldset
        %legend Alignment
        .col-sm-6
          = editable_asset_field_tag(@asset, :horizontal_alignment)
        .col-sm-6
          = editable_asset_field_tag(@asset, :horizontal_alignment_unit, 'Unit', [Uom::INCH].collect{|u| [u, u.pluralize]}, current_method: :horizontal_alignment_unit)
        .col-sm-6
          = editable_asset_field_tag(@asset, :vertical_alignment)
        .col-sm-6
          = editable_asset_field_tag(@asset, :vertical_alignment_unit, 'Unit', [Uom::INCH].collect{|u| [u, u.pluralize]}, current_method: :vertical_aligment_munit)

  .col-sm-6
    .form-group
      %fieldset
        %legend
          Transverse Elevation
          %small (tangent track only)
        .col-sm-6
          = editable_asset_field_tag(@asset, :crosslevel)
        .col-sm-6
          = editable_asset_field_tag(@asset, :crosslevel_unit, 'Unit', [Uom::INCH].collect{|u| [u, u.pluralize]}, current_method: :crosslevel_unit)
        .col-sm-6
          = editable_asset_field_tag(@asset, :warp_parameter)
        .col-sm-6
          = editable_asset_field_tag(@asset, :warp_parameter_unit, 'Unit', [Uom::INCH].collect{|u| [u, u.pluralize]}, current_method: :warp_parameter_unit)

      %fieldset
        %legend
          Curvature
          %small (curve & transition track only)
        .col-sm-6
          = editable_asset_field_tag(@asset, :track_curvature)
        .col-sm-6
          = editable_asset_field_tag(@asset, :track_curvature_unit, 'Unit', [['feet', 'radiius (feet)'], ['degree', 'degrees']],current_method: :track_curvature_unit)
        .col-sm-6
          = editable_asset_field_tag(@asset, :cant, 'Cant(Superelevation)')
        .col-sm-6
          = editable_asset_field_tag(@asset, :cant_unit, 'Unit', [Uom::INCH].collect{|u| [u, u.pluralize]}, current_method: :cant_unit)
        .col-sm-6
          = editable_asset_field_tag(@asset, :cant_gradient, 'Cant Gradient(Superelevation Runoff)')
        .col-sm-6
          = editable_asset_field_tag(@asset, :cant_gradient_unit, 'Unit', [Uom::INCH].collect{|u| [u, u.pluralize]}, current_method: :cant_gradient_unit)