- unless @asset.new_record?
  = simple_form_for(@asset,
    :as => :asset,
    :url => inventory_path(@asset),
    :method => 'put',
    :html => {:class => 'form-vertical'},
    :wrapper => :vertical_form,
    :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
      :radio_buttons => :vertical_radio_and_checkboxes,
      :file => :vertical_file_input,
      :boolean => :vertical_boolean}) do |f|

    = f.input :from_line
    = f.input :from_segment
    = f.input :to_line
    = f.input :to_segment
    = f.input :segment_unit
    = editable_asset_field_tag(@asset, :longitude, 'Longitude')
    = editable_asset_field_tag(@asset, :latitude, 'Latitude')
    = f.association :infrastructure_segment_unit_type, collection: InfrastructureSegmentUnitType.active
    = f.association :infrastructure_chain_type, label: 'Chain Type', collection: InfrastructureChainType.active
    = f.input :from_location_name
    = f.input :to_location_name
    = f.input :relative_location
    = f.input :relative_location_unit
    = f.input :relative_location_direction

    = f.input :asset_tag
    = f.input :external_id
    = f.input :description
    = f.association :fta_asset_class
    = f.input :global_fta_type, :collection => FtaTrackType.all.map{|f| [ f.to_s, f.to_global_id ]}
    = f.association :asset_subtype
    = f.association :infrastructure_segment_type, collection: InfrastructureSegmentType.active.where(fta_asset_class: @asset.fta_asset_class)
    = f.association :infrastructure_division, collection: InfrastructureDivision.active.where(organization_id: @asset.organization_id)
    = f.association :infrastructure_subdivision, collection: InfrastructureSubdivision.active.where(organization_id: @asset.organization_id)
    = f.association :infrastructure_track, collection: InfrastructureTrack.active.where(organization_id: @asset.organization_id)
    = f.input :direction

    = f.button :submit, :class => 'btn btn-primary'