- unless @asset.new_record?
  = simple_form_for(@asset,
    :as => :asset,
    :url => inventory_path(@asset),
    :method => 'put',
    :html => {:class => 'form-vertical'},
    :wrapper => :vertical_form,
    :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
      :radio_buttons => :vertical_radio_and_checkboxes,
      :file => :vertical_file_input,
      :boolean => :vertical_boolean}) do |f|

    = select_tag :operations_component_object_key, options_for_select(@asset.dependents.map{|x| [x.to_s, x.object_key]}), {data: {behavior: 'component-picker', target: 'component_operations_subform', form_view: 'operations_component_form'}}
    #component_operations_subform

    = f.input :max_permissible_speed
    = f.input :max_permissible_speed_unit
    = f.input :primary_fta_mode_type_id
    = f.input :primary_fta_service_type_id

    = f.button :submit, :class => 'btn btn-primary'