- unless @dependent.new_record?
  = simple_form_for(@dependent,
    :as => :asset,
    :url => inventory_path(@dependent),
    :remote => true,
    :method => 'put',
    :html => {:class => 'form-vertical'},
    :wrapper => :vertical_form,
    :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
      :radio_buttons => :vertical_radio_and_checkboxes,
      :file => :vertical_file_input,
      :boolean => :vertical_boolean}) do |f|

    = f.input :purchased_new
    = f.input :purchase_date
    = f.input :contract_num
    = f.association :contract_type
    = f.association :vendor
    = f.input :other_vendor
    = f.input :has_warranty
    = f.input :warranty_date


    = f.button :submit, :class => 'btn btn-primary'