= dialog_tag(@dependent.to_s, {:icon => 'fa fa-star', class: 'component_subform'}) do
  = editable_asset_field_tag(@dependent, :purchased_new, type: 'boolean')
  = editable_asset_field_tag(@dependent, :purchase_date, type: 'date')
  .row
    .col-sm-3
      = editable_asset_field_tag(@dependent, :contract_num, 'Contract / Purchase Order (PO) #')
    .col-sm-3
      = editable_asset_association_tag(@dependent, :contract_type, 'Contract / PO Type', include_blank: true)

  - SystemConfig.transam_module_names.each do |mod|
    - if lookup_context.template_exists?("#{mod}_asset_form", 'assets', true)
      = render :partial => "transit_assets/#{mod}_purchase_form", :locals => {:asset => @dependent}

  .row.other-fields-container
    .col-sm-3.other-type-container{data: {other_type_ids: [""]}}
      = editable_asset_association_tag(@dependent, :vendor, nil, Vendor.where(organization_id: @dependent.organization_id).map{|x| [x.id, x.name]},include_blank: true)
    .col-sm-3.other-value-container
      = editable_asset_field_tag(@dependent, :other_vendor, 'Vendor (Other)', required: false)
  .row
    .col-sm-2
      = editable_asset_field_tag(@dependent, :has_warranty, 'Warranty', type: 'boolean')
    .col-sm-3
      = editable_asset_field_tag(@dependent, :warranty_date, 'Warranty Expiration Date', type: 'date')