= dialog_tag(@dependent.to_s, {:icon => 'fa fa-star', class: 'component_subform'}) do
  .row
    .col-sm-6= editable_asset_field_tag(@dependent, :purchased_new, '* Purchased New', type: 'boolean')
  .row
    .col-sm-9= editable_asset_field_tag(@dependent, :purchase_date, '* Purchase Date', type: 'date')
  .row
    .col-sm-3
      = editable_asset_field_tag(@dependent, :contract_num, 'Contract / Purchase Order (PO) #', required: false)
    .col-sm-3
      = editable_asset_association_tag(@dependent, :contract_type, 'Contract / PO Type', include_blank: true, inputclass: 'full-width')

  - SystemConfig.transam_module_names.each do |mod|
    - if lookup_context.template_exists?("#{mod}_asset_form", 'assets', true)
      = render :partial => "transit_assets/#{mod}_purchase_form", :locals => {:asset => @dependent}

  = render partial: 'shared/vendor_with_other'
  .row
    .col-sm-2
      = editable_asset_field_tag(@dependent, :has_warranty, 'Warranty', type: 'boolean', inputclass: 'full-width')
    .col-sm-3
      = editable_asset_field_tag(@dependent, :warranty_date, 'Warranty Expiration Date', type: 'date')