- component_type = ComponentType.find_by(name: 'Fasteners', class_name: 'Infrastructure')
.nested-fields
  = f.input :component_type_id, as: :hidden, value: component_type.id
  = f.input :component_element_type_id, as: :hidden, value: ComponentElementType.find_by(name: 'Spikes % Screws', component_type: component_type)
  = f.input :asset_tag
  = f.input :description
  = f.input :quantity
  = f.association :manufacturer
  = f.association :manufacturer_model
  = f.input :manufacture_year
  = f.association :component_subtype, collection: ComponentSubtype.where(component_type: component_type)

  = link_to_remove_association "remove", f