= render partial: "transit_assets/guideway/#{component_type.parameterize(separator: '_')}_component_fields", locals: {f: f}
= f.input :purchased_new
= f.input :purchase_cost
= f.input :in_service_date