.nested-fields
  = f.input :component_type_id, as: :hidden, value: component_type.id
  = f.input :asset_tag
  = f.input :description
  = f.input :quantity
  = f.input :quantity_unit
  = f.input :manufacture_year
  = f.association :manufacturer
  = f.association :manufacturer_model
  = f.input :infrastructure_measurement
  = f.input :infrastructure_measurement_unit
  = f.input :infrastructure_diameter
  = f.input :infrastructure_diameter_unit
  = f.association :component_subtype, collection: ComponentSubtype.where(parent: component_type)

  = link_to_remove_association "remove", f