%fieldset
  %legend Length

  = editable_asset_field_tag(@asset, :length)
  = editable_asset_field_tag(@asset, :length_unit)

%fieldset
  %legend Minimum Vertical Clearance
  = editable_asset_field_tag(@asset, :height)
  = editable_asset_field_tag(@asset, :height_unit)

%fieldset
  %legend Minimum Horizontal Clearance
  = editable_asset_field_tag(@asset, :width)
  = editable_asset_field_tag(@asset, :width_unit)