%fieldset
  %legend Length
  .col-sm-2
    = editable_asset_field_tag(@asset, :length)
  .col-sm-2
    = editable_asset_field_tag(@asset, :length_unit, 'Unit')

%fieldset
  %legend Minimum Vertical Clearance
  .col-sm-2
    = editable_asset_field_tag(@asset, :height)
  .col-sm-2
    = editable_asset_field_tag(@asset, :height_unit, 'Unit')

%fieldset
  %legend Minimum Horizontal Clearance
  .col-sm-2
    = editable_asset_field_tag(@asset, :width)
  .col-sm-2  
    = editable_asset_field_tag(@asset, :width_unit, 'Unit')