
= editable_asset_field_tag(@asset, :from_line, 'Line')
= editable_asset_field_tag(@asset, :from_segment, 'From')
= editable_asset_field_tag(@asset, :to_line, 'Line')
= editable_asset_field_tag(@asset, :to_segment, 'To')
= editable_asset_field_tag(@asset, :segment_unit, 'Unit')
= editable_asset_field_tag(@asset, :longitude, 'Longitude')
= editable_asset_field_tag(@asset, :latitude, 'Latitude')
= editable_asset_association_tag(@asset, :infrastructure_segment_unit_type, 'Segment Unit')
= editable_asset_association_tag(@asset, :infrastructure_chain_type, 'Chain Type')
= editable_asset_field_tag(@asset, :from_location_name, 'From (location name)')
= editable_asset_field_tag(@asset, :to_location_name, 'To (location name)')
= editable_asset_field_tag(@asset, :relative_location, 'Relative Loc.')
= editable_asset_field_tag(@asset, :relative_location_unit, 'Unit')
= editable_asset_field_tag(@asset, :relative_location_direction, 'Direction')
= editable_asset_field_tag(@asset, :asset_tag, 'Asset / Segment ID')
= editable_asset_field_tag(@asset, :external_id, 'External ID')
= editable_asset_field_tag(@asset, :description)
= editable_asset_field_tag(@asset, :external_id, 'External ID')
= editable_asset_field_tag(@asset, :location_name)
= editable_asset_association_tag(@asset, :fta_asset_class)
= editable_asset_association_tag(@asset, :global_fta_type, 'FTA Type', FtaGuidewayType.all.collect{|f| ["#{f.to_global_id}", "#{f.to_s}"]})
= editable_asset_association_tag(@asset, :asset_subtype)
= editable_asset_association_tag(@asset, :infrastructure_segment_type, 'Segment Type', InfrastructureSegmentType.active.where(fta_asset_class: @asset.fta_asset_class).collect{|f| ["#{f.to_global_id}", "#{f.to_s}"]})  # need to add JS to hide based on subtype selected
= editable_asset_association_tag(@asset, :infrastructure_division, 'Main Line / Division', InfrastructureDivision.active.where(organization_id: @asset.organization_id).collect{|f| ["#{f.to_global_id}", "#{f.to_s}"]})
= editable_asset_association_tag(@asset, :infrastructure_subdivision, 'Branch / Subdivision', InfrastructureSubdivision.active.where(organization_id: @asset.organization_id).collect{|f| ["#{f.to_global_id}", "#{f.to_s}"]})
= editable_asset_field_tag(@asset, :num_tracks, 'Number of Tracks')