.nested-fields

  %h4.component-type-header
    = component_type

  = f.input :component_type_id, as: :hidden, input_html: {value: component_type.try(:component_type_id) || component_type.id} # check if element type first


  = render partial: "transit_assets/guideway/#{component_type.to_s.parameterize(separator: '_')}_component_fields", locals: {f: f, component_type: component_type}

  = link_to_remove_association "- Remove", f