= dialog_tag(@dependent.to_s, {:icon => 'fa fa-star', class: 'component_subform'}) do
  = editable_asset_field_tag(@dependent, :purchased_new, type: 'boolean')
  = editable_asset_field_tag(@dependent, :purchase_date, type: 'date')
  .row
    .col-sm-3
      = editable_asset_field_tag(@dependent, :contract_num, 'Contract / Purchase Order (PO) #')
    .col-sm-3
      = editable_asset_association_tag(@dependent, :contract_type, 'Contract / PO Type', include_blank: true)
  .row
    .col-sm-3
      = editable_asset_association_tag(@dependent, :vendor, include_blank: true)
    .col-sm-3
      = editable_asset_field_tag(@dependent, :other_vendor, 'Vendor (Other)')
  .row
    .col-sm-2
      = editable_asset_field_tag(@dependent, :has_warranty, 'Warranty', type: 'boolean')
    .col-sm-3
      = editable_asset_field_tag(@dependent, :warranty_date, 'Warranty Expiration Date', type: 'date')