- unless @asset.new_record?
  = editable_asset_field_tag(@asset, :facility_size, type: 'number', min: 1)
  = editable_asset_association_tag(@asset, :facility_size_unit, nil, Uom::AREA_UNITS.collect{|u| [u, u.titleize]})
  = editable_asset_field_tag(@asset, :section_of_larger_facility, type: 'boolean')
  = editable_asset_field_tag(@asset, :manufacture_year, type: 'number', min: 1950, max: Date.today.year)
  = editable_asset_field_tag(@asset, :lot_size, type: 'number', min: 0)
  = editable_asset_association_tag(@asset, :lot_size_unit, nil, Uom::AREA_UNITS.collect{|u| [u, u.titleize]})
  = editable_asset_association_tag(@asset, :leed_certification_type)
  = editable_asset_field_tag(@asset, :ada_accessible, type: 'boolean')
  = editable_asset_field_tag(@asset, :num_structures, type: 'number', min: 0)
  = editable_asset_field_tag(@asset, :num_floors, type: 'number', min: 0)
  = editable_asset_field_tag(@asset, :num_elevators, type: 'number', min: 0)
  = editable_asset_field_tag(@asset, :num_escalators, type: 'number', min: 0)
  = editable_asset_field_tag(@asset, :num_parking_spaces_public, type: 'number', min: 0)
  = editable_asset_field_tag(@asset, :num_parking_spaces_private, type: 'number', min: 0)

  - view_component = 'app_characteristics_form'
  - if lookup_context.template_exists?(view_component, 'transit_assets/facility', true)
    = render :partial => "transit_assets/facility/#{view_component}"
