- unless @asset.new_record?
  .row.border-between
    .col-sm-6
      .row
        .col-sm-3
          = editable_asset_field_tag(@asset, :facility_size, '* Facility Size', type: 'number', min: 1)
        .col-sm-4
          = editable_asset_association_tag(@asset, :facility_size_unit, '* Size Units', Uom::AREA_UNITS.collect{|u| [u, u.titleize]}, suffix: '', inputclass: 'full-width')
      .row
        .col-sm-4
          = editable_asset_field_tag(@asset, :section_of_larger_facility, '* Section of Larger Facility', type: 'boolean', inputclass: 'full-width')
      .row
        .col-sm-4
          = editable_asset_field_tag(@asset, :manufacture_year, '* Year Built', type: 'number', min: get_system_asset_starting_year, max: Date.today.year)
      .row
        .col-sm-3
          = editable_asset_field_tag(@asset, :lot_size, required: false, type: 'number', min: 0)
        .col-sm-3
          = editable_asset_association_tag(@asset, :lot_size_unit, 'Size Units', Uom::AREA_UNITS.collect{|u| [u, u.titleize]}, current_method: :lot_size_unit, suffix: '', inputclass: 'full-width')
      = editable_asset_association_tag(@asset, :leed_certification_type, 'LEED Certification Type', inputclass: 'full-width')
    .col-sm-6
      .row
        .col-sm-3= editable_asset_field_tag(@asset, :ada_accessible, '* ADA Accessible', type: 'boolean', inputclass: 'full-width')
      .row
        .col-sm-6
          = editable_asset_field_tag(@asset, :num_structures, 'Number of Structures', required: false, type: 'number', min: 0)
          = editable_asset_field_tag(@asset, :num_floors, 'Number of Floors', required: false, type: 'number', min: 0)
          = editable_asset_field_tag(@asset, :num_elevators, 'Number of Elevators', required: false, type: 'number', min: 0)
          = editable_asset_field_tag(@asset, :num_escalators, 'Number of Escalators', required: false, type: 'number', min: 0)
          = editable_asset_field_tag(@asset, :num_parking_spaces_public, 'Number of Parking Spots (Public)', required: false, type: 'number', min: 0)
          = editable_asset_field_tag(@asset, :num_parking_spaces_private, 'Number of Parking Spots (Private)', required: false, type: 'number', min: 0)

      - view_component = 'app_characteristics_form'
      - if lookup_context.template_exists?(view_component, 'transit_assets/facility', true)
        = render :partial => "transit_assets/facility/#{view_component}"
