- unless @asset.new_record?
  = simple_form_for(@asset,
    :as => :asset,
    :url => inventory_path(@asset),
    :method => 'put',
    :html => {:class => 'form-vertical'},
    :wrapper => :vertical_form,
    :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
      :radio_buttons => :vertical_radio_and_checkboxes,
      :file => :vertical_file_input,
      :boolean => :vertical_boolean}) do |f|

    = f.input :facility_size
    = f.input :facility_size_unit
    = f.input :section_of_larger_facility
    = f.input :manufacture_year
    = f.input :lot_size
    = f.input :lot_size_unit
    = f.association :leed_certification_type
    = f.input :ada_accessible
    = f.input :num_structures
    = f.input :num_floors
    = f.input :num_elevators
    = f.input :num_escalators
    = f.input :num_parking_spaces_public
    = f.input :num_parking_spaces_private

    - view_component = 'app_characteristics_form'
    - if lookup_context.template_exists?(view_component, 'transit_assets/facility', true)
      = render :partial => "transit_assets/facility/#{view_component}", :locals => {:f => f}

    = f.button :submit, :class => 'btn btn-primary'