- unless @asset.new_record?
  = editable_asset_field_tag(@asset, :facility_name)

  = editable_asset_field_tag(@asset, :country)
  = editable_asset_field_tag(@asset, :address1)
  = editable_asset_field_tag(@asset, :address2)
  = editable_asset_field_tag(@asset, :city)
  = editable_asset_association_tag(@asset, :state, nil, ISO3166::Country['US'].states.keys)
  = editable_asset_field_tag(@asset, :zip)
  = editable_asset_field_tag(@asset, :county)

  = editable_asset_field_tag(@asset, :asset_tag, 'Asset ID')
  = editable_asset_field_tag(@asset, :external_id, 'External ID', required: false)
  = editable_asset_field_tag(@asset, :ntd_id, 'NTD ID')
  
  = editable_asset_association_tag(@asset, :fta_asset_class, 'Class')
  = editable_asset_association_tag(@asset, :global_fta_type, 'Type', FtaFacilityType.all.collect{|f| ["#{f.to_global_id}", "#{f.to_s}"]})
  = editable_asset_association_tag(@asset, :asset_subtype_id, 'Subtype', AssetSubtype.where(asset_type: AssetType.where(class_name: ['TransitFacility', 'SupportFacility'])).collect{|x| [x.id, x.name]})
  = editable_asset_association_tag(@asset, :esl_category, 'Estimated Service Life (ESL) Category')

