- unless @asset.new_record?
  = editable_asset_field_tag(@asset, :purchased_new, type: 'boolean')
  = editable_asset_field_tag(@asset, :purchase_date, '* Purchase Date', type: 'date')
  .row
    .col-sm-3
      = editable_asset_field_tag(@asset, :contract_num, 'Contract / Purchase Order (PO) #')
    .col-sm-3
      = editable_asset_association_tag(@asset, :contract_type, 'Contract / PO Type', include_blank: true)

  - SystemConfig.transam_module_names.each do |mod|
    - if lookup_context.template_exists?("#{mod}_asset_form", 'assets', true)
      = render :partial => "transit_assets/#{mod}_purchase_form", :locals => {:asset => @asset}

  .row
    .col-sm-2
      = editable_asset_field_tag(@asset, :has_warranty, 'Warranty', type: 'boolean')
    .col-sm-3
      = editable_asset_field_tag(@asset, :warranty_date, 'Warranty Expiration Date', type: 'date')

