- unless @asset.new_record?
  .row.border-between
    .col-sm-6
      = editable_asset_association_tag(@asset, :parent, '* Facility Name', Facility.where(organization_id: current_user.viewable_organization_ids).or(Facility.where(id: @asset.parent_id)).collect{|x| [x.transam_asset.id, x.facility_name]}, inputclass: 'full-width')
      = editable_asset_field_tag(@asset, :asset_tag, '* Asset ID')
      = editable_asset_field_tag(@asset, :external_id, 'External ID', required: false)

      .parent-identification= render 'transit_assets/facility_component/parent_identification'

      .form-group.form-inline
        %label.control-label
          * Categorization
        .display-value
          %span.radio
            %label
              = radio_button_tag :categorization, TransitAsset::CATEGORIZATION_COMPONENT, @asset.categorization == TransitAsset::CATEGORIZATION_COMPONENT
              Component
          %span.radio
            %label
              = radio_button_tag :categorization, TransitAsset::CATEGORIZATION_SUBCOMPONENT, @asset.categorization == TransitAsset::CATEGORIZATION_SUBCOMPONENT
              Sub-Component

      = editable_asset_association_tag(@asset, :component_type, '', ComponentType.where(fta_asset_category_id: @asset.fta_asset_class.fta_asset_category_id).collect{|x| [x.id, x.name]}, inputclass: 'full-width')
      = editable_asset_association_tag(@asset, :component_subtype, '', ComponentSubtype.where(parent_type: 'FtaAssetCategory', parent_id: @asset.fta_asset_class.fta_asset_category_id).collect{|x| [x.id, x.name]}, inputclass: 'full-width')

    .col-sm-6
      = editable_asset_field_tag(@asset, :description, '* Description', type: 'textarea')
      .row
        .col-sm-2
          = editable_asset_field_tag(@asset, :quantity, required: true, type: 'number', min: 1)
        .col-sm-2
          = editable_asset_association_tag(@asset, :quantity_unit, nil, Uom.usc_units.collect{|u| [u, u.titleize]}, suffix:'', inputclass: 'full-width')

      .form-group
        %label.control-label
          Serial # / Inventory ID
        .display-value
          %a.editable-field{href:'#', id: 'serial_number_strings', data: {name: 'asset[serial_number_strings]', type: 'textarea', url: "#{asset_path(@asset)}"}} #{@asset.serial_number_strings}

