- unless @asset.new_record?
  = simple_form_for(@asset,
    :as => :asset,
    :url => inventory_path(@asset),
    :method => 'put',
    :html => {:class => 'form-vertical'},
    :wrapper => :vertical_form,
    :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
      :radio_buttons => :vertical_radio_and_checkboxes,
      :file => :vertical_file_input,
      :boolean => :vertical_boolean}) do |f|

    = f.association :parent, :collection => Facility.where(organization_id: @organization_list), :label => 'Facility Name'
    = f.input :asset_tag
    = f.input :external_id
    = f.association :fta_asset_class
    = f.input :global_fta_type, :collection => FtaFacilityType.all.map{|f| [ f.to_s, f.to_global_id ]}
    = f.association :asset_subtype
    = f.association :facility_component_type
    = f.association :facility_component_subtype


    = f.input :description
    = f.input :quantity
    = f.input :quantity_unit
    = f.association :serial_numbers

    = f.button :submit, :class => 'btn btn-primary'