- unless @asset.new_record?
  = simple_form_for(@asset,
    :as => :asset,
    :url => inventory_path(@asset.asset),
    :method => 'put',
    :html => {:class => 'form-vertical'},
    :wrapper => :vertical_form,
    :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
      :radio_buttons => :vertical_radio_and_checkboxes,
      :file => :vertical_file_input,
      :boolean => :vertical_boolean}) do |f|

    = f.input :serial_number
    = f.input :external_id
    = f.association :fta_asset_class
    = f.association :fta_type, :collection => FtaVehicleType.all
    = f.association :asset_subtype
    = f.association :esl_category

    = f.button :submit, :class => 'btn btn-primary'