- unless @asset.new_record?
  = simple_form_for(@asset,
    :as => :asset,
    :url => inventory_path(@asset),
    :method => 'put',
    :html => {:class => 'form-vertical'},
    :wrapper => :vertical_form,
    :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
      :radio_buttons => :vertical_radio_and_checkboxes,
      :file => :vertical_file_input,
      :boolean => :vertical_boolean}) do |f|

    = f.association :manufacturer
    = f.input :other_manufacturer
    = f.association :manufacturer_model
    = f.input :other_manufacturer_model
    = f.association :chassis
    = f.input :other_chassis
    = f.input :manufacture_year
    = f.association :fuel_type
    = f.input :other_fuel_type
    = f.association :dual_fuel_type

    = f.input :vehicle_length
    = f.input :gross_vehicle_weight
    = f.input :seating_capacity
    = f.input :standing_capacity
    = f.input :ada_accessible
    = f.input :wheelchair_capacity
    = f.association :ramp_manufacturer
    = f.input :other_ramp_manufacturer

    - view_component = 'app_characteristics_form'
    - if lookup_context.template_exists?(view_component, 'transit_assets', true)
      = render :partial => "transit_assets/#{view_component}", :locals => {:f => f}

    = f.button :submit, :class => 'btn btn-primary'