- unless @asset.new_record?
  = simple_form_for(@asset,
    :as => :asset,
    :url => inventory_path(@asset.asset),
    :method => 'put',
    :html => {:class => 'form-vertical'},
    :wrapper => :vertical_form,
    :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
      :radio_buttons => :vertical_radio_and_checkboxes,
      :file => :vertical_file_input,
      :boolean => :vertical_boolean}) do |f|

    = f.input :license_plate
    = f.input :title_number
    = f.association :title_ownership_organization
    = f.input :other_title_ownership_organization
    = f.association :lienholder
    = f.input :other_lienholder


    = f.button :submit, :class => 'btn btn-primary'