:ruby
  table_dom_id = SecureRandom.hex
  mileage_event_type = AssetEventType.find_by(class_name: "MileageUpdateEvent")

= format_field("FY Year", format_as_fiscal_year(current_fiscal_year_year))
- has_miles = @asset_fleet.miles_this_year.present?
= format_field('Miles This Year', "#{format_as_integer(@asset_fleet.miles_this_year)} #{has_miles ? 'miles': ''}")
= format_field('Avg Lifetime Miles per Active Vehicle', "#{format_as_integer(@asset_fleet.avg_active_lifetime_miles)} #{has_miles ? 'miles': ''}")

.row.content-spacer
  .col-xs-12
    %table.table.table-hover{:id => table_dom_id, :data => {:toggle => 'table',
      :card_view => "false",
      :pagination => 'true',
      :show_columns => 'false',
      :show_export => 'false',
      :show_toggle => 'false',
      :resizable => 'false',
      :search => 'false'}}
      %thead
        %tr
          %th.center{:data => {:sortable => 'true'}} Asset Tag
          %th.center{:data => {:sortable => 'true'}} External ID
          %th.center{:data => {:sortable => 'true'}} VIN
          %th.center{:data => {:sortable => 'true'}} License Plate
          %th.center{:data => {:sortable => 'true'}} Odometer Reading FY Start
          %th.center{:data => {:sortable => 'true'}} Odometer Reading FY End
          %th.center{:data => {:sortable => 'true'}} Mileage During FY
          %th.center{:data => {:sortable => 'true'}} Last Odometer Value
          %th.center{:data => {:sortable => 'true'}} Last Odometer Date

      %tbody
        - @asset_fleet.assets.operational.where(fta_emergency_contingency_fleet: false).each do |a|
          - typed_asset = Asset.get_typed_asset(a) # could make this faster rather than run on each asset
          - mileage_fy_start = typed_asset.fiscal_year_mileage(current_fiscal_year_year-1)
          - mileage_fy_end = typed_asset.fiscal_year_mileage(current_fiscal_year_year)
          %tr
            %td.left= a.asset_tag
            %td.left= a.external_id
            %td.left= a.serial_number
            %td.left= a.license_plate
            %td{id: a.object_key+'_start_cell'}
              - if mileage_fy_start.present?
                .right
                  = format_as_integer(mileage_fy_start)
              - else
                .center
                  = link_to new_inventory_asset_event_path(a, :event_type => mileage_event_type.id, :mileage_event_date => (start_of_fiscal_year(current_fiscal_year_year)-1.day), view_div: 'mileages_table', view_name: 'asset_fleets/update_asset_mileage'), :remote => true, :class => "btn btn-warning btn-sm" do
                    Record Mileage
            %td{id: a.object_key+'_end_cell'}
              - if mileage_fy_end.present?
                .right
                  = format_as_integer(mileage_fy_end)
              - else
                .center
                  = link_to new_inventory_asset_event_path(a, :event_type => mileage_event_type.id, :mileage_event_date => (start_of_fiscal_year(current_fiscal_year_year+1)-1.day), view_div: 'mileages_table', view_name: 'asset_fleets/update_asset_mileage'), :remote => true, :class => "btn btn-warning btn-sm" do
                    Record Mileage
            %td.right
              - if mileage_fy_start.present? && mileage_fy_end.present?
                = format_as_integer(mileage_fy_end - mileage_fy_start)
            %td.right
              = format_as_integer(a.reported_mileage)
            %td.right
              = format_as_date(a.reported_mileage_date, true)
