= simple_form_for(@builder_proxy,
  :html => {:class => 'form-vertical'},
  :url => runner_asset_fleets_path,
  :wrapper => :vertical_form,
  :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
  :radio_buttons => :vertical_radio_and_checkboxes,
  :file => :vertical_file_input,
  :boolean => :vertical_boolean}) do |f|

  - if @organization_list.count > 1
    .row
      .col-md-12
        = f.input :organization_id, :required => true, :collection => TransitOperator.where(id: @organization_list), :label_method => 'coded_name'
  .row
    .col-md-6
      = f.input :action, :as => :radio_buttons, :required => true, :collection => [['Create all fleets from scratch', FleetBuilderProxy::RESET_ALL_ACTION]]
    .col-md-6
      = f.input :asset_fleet_types, :as => :check_boxes, :required => true, :collection => AssetFleetType.all.map{|x| [AssetType.find_by(class_name: x.class_name).to_s, x.id] }, :label => 'Asset Types'

  = f.submit "Run builder...", :class => "btn btn-primary", :id => "submit_button"