- if @fta_asset_category

  %fieldset
    %legend= @fta_asset_category
    .row
      .col-lg-10.col-md-12
        %h4
          - if @fta_asset_category.name == 'Facilities'
            = "Percentage of facilities that are rated less than 3.0 on the Transit Economic Requirements Model (TERM) scale"
          - elsif @fta_asset_category.name == 'Revenue Vehicles'
            = "Percentage of revenue vehicles that exceed the Useful Life Benchmark (ULB)"
          - elsif @fta_asset_category.name == 'Equipment'
            = "Percentage of non-revenue service vehicles that exceed the Useful Life Benchmark (ULB)"
          - elsif @fta_asset_category.name == 'Infrastructure'
            = "Percentage of track segments that have performance restrictions."

        .table-responsive
          %table.table.table-condensed.editable-table
            %thead
              %tr
                - if @fta_asset_category.name == 'Facilities'
                  %th.left Asset Class
                  %th.left= 'TERM'
                  %th.left.all-input-column
                    Editable/Locked
                - elsif @fta_asset_category.name == 'Infrastructure'
                  %th.left Primary Mode
                - else
                  %th.left Asset Type
                  %th.left='ULB'
                  %th.left.all-input-column
                    Editable/Locked
                %th.left Goal Pcnt
                %th.left.all-input-column
                  Editable/Locked

            %tbody
              - @tam_metrics.each do |metric|
                %tr
                  %td.left= metric.asset_level
                  - unless @fta_asset_category.name == 'Infrastructure'
                    %td.left.input-column
                      - editable_ulb = (can? :update, @tam_group) && metric.can_update?('useful_life_benchmark')
                      %a.editable-number{class: "#{editable_ulb ? 'editable-cell' : 'not-editable-cell'}", href:"#", id: "#{metric.object_key}_useful_life_benchmark",data: {type:"number", name: 'useful_life_benchmark', value: metric.useful_life_benchmark, resource: 'tam_performance_metric', url: "#{rule_set_tam_policy_tam_group_tam_performance_metric_path(@rule_set_type, @tam_policy, @tam_group, metric)}"} }
                    %td.left
                      - editable_ulb_lock = (can? :update, @tam_group) && metric.can_update?('useful_life_benchmark_locked')
                      %input.toggle-lock{type: :checkbox,
                                         id: "#{metric.object_key}_useful_life_benchmark_locked",
                                         checked: !metric.useful_life_benchmark_locked?,
                                         disabled: !editable_ulb_lock,
                                         data: {toggle: 'toggle',
                                         name: 'useful_life_benchmark_locked',
                                         size: 'small',
                                         on: 'Editable',
                                         off: 'Locked',
                                         url: "#{rule_set_tam_policy_tam_group_tam_performance_metric_path(@rule_set_type, @tam_policy, @tam_group, metric)}"}}
                  %td.left.input-column
                    - editable_pcnt = (can? :update, @tam_group) && metric.can_update?('pcnt_goal')
                    %a.editable-number{class: "#{editable_pcnt ? 'editable-cell' : 'not-editable-cell'}", href:"#", id: "#{metric.object_key}_pcnt_goal",data: {type:"text", name: 'pcnt_goal', value: metric.pcnt_goal,resource: 'tam_performance_metric', url: "#{rule_set_tam_policy_tam_group_tam_performance_metric_path(@rule_set_type, @tam_policy, @tam_group, metric)}"} }
                  %td.left
                    - editable_pcnt_lock = (can? :update, @tam_group) && metric.can_update?('pcnt_goal_locked')
                    %input.toggle-lock{type: :checkbox,
                                       id: "#{metric.object_key}_pcnt_goal_locked",
                                       checked: !metric.pcnt_goal_locked?,
                                       disabled: !editable_pcnt_lock,
                                       data: {toggle: 'toggle',
                                       name: 'pcnt_goal_locked',
                                       size: 'small',
                                       on: 'Editable',
                                       off: 'Locked',
                                       url: "#{rule_set_tam_policy_tam_group_tam_performance_metric_path(@rule_set_type, @tam_policy, @tam_group, metric)}"}}
