- if @tam_group
  %fieldset
    %legend
      = "#{@tam_policy} : #{@tam_group}"
      #tam-group-workflow-actions.pull-right{style: 'margin-top: -15px;'}
        = render 'tam_policies/workflow_actions'

    .table-responsive
      %table.table.table-condensed
        %thead
          %tr
            %th.center Asset Category
            %th.center Group Name
            %th.center Status
            - unless @tam_group.organization
              %th.center Organizations
              %th.center Copied From Previous Year
            %th.center
        %tbody
          %tr
            - if @tam_group.organization.present?
              - fta_asset_categories = @tam_group.fta_asset_categories.where(id: FtaAssetCategory.asset_types(AssetType.where(id: @tam_group.organization.asset_type_counts.keys)).pluck(:id)).collect{|a| [a.name, a.id]}
            - else
              - fta_asset_categories = @tam_group.fta_asset_categories.collect{|a| [a.name, a.id]}
            %td.center= select_tag(:fta_asset_categories, options_for_select(fta_asset_categories, :selected => @fta_asset_category.try(:id)), :class => 'form-control')
            %td.center= @tam_group.name
            %td.center.tam-group-workflow-status= @tam_group.state.humanize.titleize
            - unless @tam_group.organization
              %td.center= format_as_list(@tam_group.organizations)
              %td.center= format_as_boolean(@tam_policy.copied)
            %td.center

  #fta_asset_category_div
    = render 'tam_policies/fta_asset_category'

= render 'tam_policies/scripts'