%ul.nav.nav-tabs
  %li
    %a{:href => "#desc", :data =>{:toggle => 'tab'}}
      = "Description"
  %li
    %a{:href => "#appr", :data =>{:toggle => 'tab'}}
      %span.badge.pull-right= @funding_line_items.count
      = "Appropriations"
  %li
    %a{:href => "#chrt", :data =>{:toggle => 'tab'}}
      = "Cash Flow"

.tab-content{:style => 'max-height:400px;overflow-y: auto;'}
  .tab-pane.fade#desc
    .tab-content
      = @funding_source.description.html_safe
  .tab-pane.fade#appr
    .tab-content
      = render 'appropriations'
  .tab-pane.fade#chrt
    .tab-content
      #chart_div{:style => "height:350px;"}
