.row
  = simple_form_for(@funding_source,
    :html => {:class => 'form-vertical' },
    :wrapper => :vertical_form,
    :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes, :radio_buttons => :vertical_radio_and_checkboxes, :file => :vertical_file_input, :boolean => :vertical_boolean}) do |f|

    .col-md-4
      = dialog_tag('Type', {:icon => 'fa fa-book', :class => "header-part"}) do
        = f.input :formula_fund, :disabled => !@funding_source.new_record?
        = f.input :discretionary_fund, :disabled => !@funding_source.new_record?

        .inflation-rate
          = f.input :inflation_rate

    .col-md-4
      = dialog_tag('Fund Details', {:icon => 'fa fa-book', :class => "header-part"}) do
        = f.input :name, :placeholder => "Enter a name for this fund..."
        = f.input :external_id, :label => 'dotGrants ID'
        = f.input :description, :class => 'form-control', :input_html => { :rows => 4 }, :placeholder => "Enter a description for this fund..."
        = f.input :details, :class => 'form-control', :input_html => { :rows => 4 }, :placeholder => "Enter details for this fund..."

    .col-md-4
      = dialog_tag('Rules', {:icon => 'fa fa-book', :class => "header-part"}) do
        = f.association :funding_source_type
        = f.input :life_in_years, label: 'Life of $'
        = f.input :match_required, :wrapper => :vertical_append do
          = f.input_field :match_required, :class => 'form-control'
          %span.input-group-addon
            %i.fa.fa-percent

        = f.input :fy_start, label: 'Valid From'
        = f.input :fy_end, label: 'Valid To'

    .col-md-12
      = f.button :submit, :class => "btn btn-primary"

:javascript

  // Document Ready
  $(document).ready(function(){
    transam.make_same_height('.header-part');

    $('#funding_source_formula_fund').change();
  });



  $('#funding_source_formula_fund').change(function() {
    if(this.checked) {
      $(".inflation-rate").show();
    } else {
      $(".inflation-rate").hide();
    }
  });