%table.table.table-hover#datatable
  %thead
    %tr
      %th.center{:colspan => 3} Fund
      %th.center{:colspan => 6} Type
      %th.center{:colspan => 3} Match
      %th.center{:colspan => 5} Eligibility
      %th.center

    %tr
      %th.left Name
      %th.left Type
      %th.right dotGrants ID

      %th.center SAFF
      %th.center Bond
      %th.center Formula
      %th.center Non-Committed
      %th.center Contracted
      %th.center Discretionary

      %th.right State
      %th.right Federal
      %th.right Local

      %th.center Rural
      %th.center Urban
      %th.center Shared Ride
      %th.center ICB
      %th.center ICR

      %th.center

  %tbody
    - @funding_sources.each do |f|
      %tr.popup-details{:data => {:action_path => funding_source_path(f)}}
        %td.left= f.name
        %td.left= f.funding_source_type
        %td.right= f.external_id

        %td.center= format_as_boolean(f.state_administered_federal_fund)
        %td.center= format_as_boolean(f.bond_fund)
        %td.center= format_as_boolean(f.formula_fund)
        %td.center= format_as_boolean(f.non_committed_fund)
        %td.center= format_as_boolean(f.contracted_fund)
        %td.center= format_as_boolean(f.discretionary_fund)

        %td.right= format_as_percentage(f.state_match_required, 3)
        %td.right= format_as_percentage(f.federal_match_required, 3)
        %td.right= format_as_percentage(f.local_match_required, 3)

        %td.center= format_as_boolean(f.rural_providers)
        %td.center= format_as_boolean(f.urban_providers)
        %td.center= format_as_boolean(f.shared_ride_providers)
        %td.center= format_as_boolean(f.inter_city_bus_providers)
        %td.center= format_as_boolean(f.inter_city_rail_providers)

        %td.center
          %i.fa.fa-info-circle.text-info.popup-details{:data => {:title => "#{f.name}", :content => "#{raw render :partial => 'funding_sources/grants_table', :locals => {:funding_source => f, :grants => f.grants.where(:organization => @organization), :popup => false}}"}}

= render 'shared/datatable_javascript'

:javascript
  $('.popup-details').popover({
    trigger: 'hover',
    container: 'body',
    placement: 'left',
    animation: 'true',
    html: 'true'
  });
