%table.table.table-hover
  %thead
    %tr
      %th.left Fund
      %th.center FY
      %th.left Authorization
      %th.center Awarded
      %th.center Active

      %th.center Type
      %th.right Amount
      %th.right Spent
      %th.right Committed
      %th.right Available
      
      %th.center

  %tbody
    - total = 0
    - committed = 0
    - spent = 0
    - available = 0

    - funding_line_items.each do |f|
      - total += f.amount
      - committed += f.committed
      - spent += f.spent
      - available += f.available

      %tr.popup-details{:data => {:action_path => funding_line_item_path(f)}}
        %td= f.funding_source
        %td.center= f.fiscal_year
        %td.left= f.project_number.blank? ? 'N/A' : f.project_number
        %td.center= format_as_boolean(f.awarded)
        %td.center= format_as_boolean(f.active)
        
        %td.center= f.funding_line_item_type.code
        %td.right= format_as_currency(f.amount)
        %td.right= format_as_currency(f.spent)
        %td.right= format_as_currency(f.committed)
        %td.right= format_as_currency(f.available)
               
        %td.center
          %i.fa.fa-info-circle.text-info.popup-details{:data => {:title => "#{f.project_number}: Funding Requests", :content => "#{raw render :partial => 'funding_requests/popup_table', :locals => {:funding_line_item => f, :popup => false}}"}}

  %tfoot
    %tr
      %td{:colspan => 6}
      %td.right= format_as_currency(total)
      %td.right= format_as_currency(spent)
      %td.right= format_as_currency(committed)
      %td.right= format_as_currency(available)
