= format_field("Type",  @funding_source.funding_source_type)
= format_field("External ID", @funding_source.external_id)
= format_field("State Administered", format_as_boolean(@funding_source.state_administered_federal_fund))
= format_field("Bond", format_as_boolean(@funding_source.bond_fund))
= format_field("Formula", format_as_boolean(@funding_source.formula_fund))
= format_field("Non-Committed", format_as_boolean(@funding_source.non_committed_fund))
= format_field("Contracted", format_as_boolean(@funding_source.contracted_fund))
= format_field("Discretionary", format_as_boolean(@funding_source.discretionary_fund))

= format_field("Federal Match", format_as_percentage(@funding_source.federal_match_required, 3))
= format_field("State Match", format_as_percentage(@funding_source.state_match_required, 3))
= format_field("Local Match", format_as_percentage(@funding_source.local_match_required, 3))

= format_field("Rural", format_as_boolean(@funding_source.rural_providers))
= format_field("Urban", format_as_boolean(@funding_source.urban_providers))
= format_field("Shared Ride", format_as_boolean(@funding_source.shared_ride_providers))
= format_field("ICB", format_as_boolean(@funding_source.inter_city_bus_providers))
= format_field("ICR", format_as_boolean(@funding_source.inter_city_rail_providers))
