.row
  .col-md-12
    %fieldset.collapse-group
      %legend
        = link_to "#", :data => {:toggle => 'collapse', :target => '#asset-notes'} do
          %i.fa.fa-refresh
          = "Notes (#{@asset.notes.count})"
      #asset-notes.collapse
        .row
          .col-md-12
            %ul.media.list
              - if @asset.notes.empty?
                = "No notes"
              - else
                - @asset.notes.each do |note|
                  .media
                    .pull-left
                      %p
                        = note.creator.name
                      %p
                        = format_as_date_time(note.created_at)
                    .media-body.well.well-small{:data => {:action_path => inventory_note_path(@asset, note)}}
                      = note.comments.html_safe
