%fieldset
  %legend.panel-legend Replacement/Rehabilitation
  = format_field("Scheduled Year", format_as_fiscal_year(asset.scheduled_replacement_year)) unless asset.scheduled_replacement_year.blank?
  = format_field("Scheduled Rehabilitation", format_as_fiscal_year(asset.scheduled_rehabilitation_year)) unless asset.scheduled_rehabilitation_year.blank?
  = format_field("Scheduled Disposition", format_as_fiscal_year(asset.scheduled_disposition_date.year)) unless asset.scheduled_disposition_date.blank?
  = format_field("Policy Year", format_as_fiscal_year(asset.policy_replacement_year))
  = format_field("Est. Year", format_as_fiscal_year(asset.estimated_replacement_year))
  = format_field("Est. Cost", format_as_currency(asset.estimated_replacement_cost))

- if @asset.respond_to?(:location) && asset.location
  %fieldset
    %legend.panel-legend Location
    = format_field("Location",  asset.location.nil? ? 'Unknown' : link_to(asset.location.name, inventory_path(asset.location)) )
    = format_field("Comments",  asset.location_comments) unless asset.location_comments.blank?