<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
 <Styles>
  <Style ss:ID="Default" ss:Name="Normal">
   <Alignment ss:Vertical="Bottom"/>
   <Borders/>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="11" ss:Color="#000000"/>
   <Interior/>
   <NumberFormat/>
   <Protection/>
  </Style>
  <Style ss:ID="s62">
   <NumberFormat ss:Format="&quot;$&quot;#,##0"/>
  </Style>
 </Styles>

 <% is_vehicle = @asset_type == 1 %>
 <% is_rail_car = @asset_type == 2 %>
 <% is_locomotive = @asset_type == 3 %>
 <% is_support_vehicle = @asset_type == 7 %>
 <% is_rolling_stock = is_vehicle || is_rail_car || is_locomotive || is_support_vehicle %>
 <% is_passenger_vehicle = is_vehicle || is_rail_car %>

 <% is_transit_facility = @asset_type == 4 %>
 <% is_support_facility = @asset_type == 5 %>
 <% is_structure = is_transit_facility || is_support_facility %>

 <% if @assets.count > 0 %>
   <% sheet_title = "#{@assets.first.asset_type.name}" %>
 <% else %>
   <% sheet_title = "Assets" %>
 <% end %>

  <Worksheet ss:Name="<%= sheet_title %>">
      <Table>
        <Column ss:AutoFitWidth="1" ss:Width="85"/>
        <Column ss:AutoFitWidth="1" ss:Width="85"/>
        <Column ss:AutoFitWidth="1" ss:Width="85"/>
        <Column ss:AutoFitWidth="1" ss:Width="85"/>
        <Column ss:AutoFitWidth="1" ss:Width="85"/>
        <Column ss:AutoFitWidth="1" ss:Width="85"/>

        <Column ss:AutoFitWidth="1" ss:Width="85"/>
        <Column ss:AutoFitWidth="1" ss:Width="85"/>
        <Column ss:AutoFitWidth="1" ss:Width="85"/>
        <Column ss:AutoFitWidth="1" ss:Width="85"/>
        <Column ss:AutoFitWidth="1" ss:Width="85"/>

        <Column ss:AutoFitWidth="1" ss:Width="85"/>
        <Column ss:AutoFitWidth="1" ss:Width="85"/>
        <Column ss:AutoFitWidth="1" ss:Width="85"/>

        <Column ss:AutoFitWidth="1" ss:Width="85"/>
        <Column ss:AutoFitWidth="1" ss:Width="85"/>
        <Column ss:AutoFitWidth="1" ss:Width="85"/>

        <% if is_rolling_stock %>
          <%= render 'rolling_stock_columns' %>
        <% end %>

        <% if is_structure %>
          <%= render 'structure_columns' %>
        <% end %>

        <Row>
          <Cell><Data ss:Type="String">Asset Key</Data></Cell>
          <Cell><Data ss:Type="String">Type</Data></Cell>
          <Cell><Data ss:Type="String">Subtype</Data></Cell>
          <Cell><Data ss:Type="String">Asset Tag</Data></Cell>
          <Cell><Data ss:Type="String">Status</Data></Cell>
          <Cell><Data ss:Type="String">Age</Data></Cell>

          <Cell><Data ss:Type="String">Policy Year</Data></Cell>
          <Cell><Data ss:Type="String">Est. Replacement Year</Data></Cell>
          <Cell><Data ss:Type="String">Est. Replacement Cost</Data></Cell>
          <Cell><Data ss:Type="String">In Backlog</Data></Cell>

          <Cell><Data ss:Type="String">Reported Condition</Data></Cell>
          <Cell><Data ss:Type="String">Reported On</Data></Cell>
          <Cell><Data ss:Type="String">Est. Condition</Data></Cell>

          <Cell><Data ss:Type="String">FTA Funding Type</Data></Cell>

          <% if is_rolling_stock %>
            <%= render 'rolling_stock_row_titles' %>
          <% end %>

          <% if is_structure %>
            <%= render 'structure_row_titles' %>
          <% end %>
        </Row>

        <% if is_rolling_stock %>
          <%= render 'rolling_stock_data' %>
        <% end %>

        <% if is_structure %>
          <%= render 'structure_data' %>
        <% end %>
      </Table>
  </Worksheet>
</Workbook>
