:ruby
  table_dom_id = SecureRandom.hex
= javascript_include_tag  "https://kit.fontawesome.com/#{ENV['FONT_AWESOME']}.js"
.library-table
  %table.elbat{id: table_dom_id,
    use: 'true', data: {use: 'true', table_code: 'facilities_components', side: 'client', current_page: '0', current_page_size: '10', page_sizes: "10,20,50,100", search: 'client', export: "['csv', 'txt']", columns:  '{"id":{"name":"Asset ID"}, "categorization":{"name":"Categorization"}, "type_name":{"name":"Component / Sub-Component Type"}, "year":{"name":"Year"}, "fta_type":{"name":"Type"}, "asset_subtype":{"name":"Subtype"}, "service_status":{"name":"Service Status"}, "last_life_cycle_action":{"name":"Last Life Cycle Action"}, "last_life_cycle_date":{"name":"Life Cycle Action Date"}}', selected_columns: "id,categorization,type_name,year,fta_type,asset_subtype,service_status,last_life_cycle_action,last_life_cycle_date", cookies: "true", sort: 'client', filter: "[]", data_source: 'client', url: ''}}

  - @asset.dependents.each_with_index do |component, index|
    -component = TransamAsset.get_typed_asset(component)
    //TODO: What is categorization
    :javascript
      add_row('#{table_dom_id}',
      {
        "id": '#{component.asset_tag}',
        "categorization": '#{component.categorization_name}',
        "type_name": '#{h component.type_or_subtype_name}',
        "year": '#{h component.manufacture_year}',
        "fta_type": '#{h component.type_name}',
        "asset_subtype": '#{h component.subtype_name}',
        "service_status": '#{h component.service_status_name}',
        "last_life_cycle_action": '#{h component.last_life_cycle_action}',
        "last_life_cycle_date": '#{h component.life_cycle_action_date}'
      }, #{index});