.table-responsive
  %table.table.table-hover{:id => 'asset_server_table', :data => {:toggle => 'table',
    :card_view => "false",
    :pagination => 'true',
    :show_pagination_switch => 'true',
    :page_list => "[5, 10, 20, 50, 100]",
    :page_size => current_user.num_table_rows,
    :search => 'true',
    :sticky_header => 'true',
    :sticky_header_offset_y => '65px',
    :export_types => "['csv', 'txt']",
    :show_export => 'true',
    :show_columns => 'true',
    :state_save => 'true',
    :state_save_expire => "1y",
    :show_multi_sort => 'true',
    :single_select => 'false'}}
    %thead
      %tr
        %th.center{:data => {:searchable => 'true', :sortable => 'true'}}= 'Asset ID'
        %th.center{:data => {:searchable => 'true', :sortable => 'true'}}= 'Organization'
        %th.center{:data => {:searchable => 'true', :sortable => 'true'}}= 'Facility Name'
        %th.center{:data => {:searchable => 'true', :sortable => 'true'}}= 'Facility Categorization*'
        %th.center{:data => {:searchable => 'true', :sortable => 'true'}}= 'Component - Sub-Component Type*'
        %th.center{:data => {:searchable => 'true', :sortable => 'true'}}= 'Year'
        %th.center{:data => {:searchable => 'true', :sortable => 'true'}}= 'Class'
        %th.center{:data => {:searchable => 'true', :sortable => 'true'}}= 'Type'
        %th.center{:data => {:searchable => 'true', :sortable => 'true'}}= 'Status'
        %th.center{:data => {:searchable => 'true', :sortable => 'true'}}= 'ESL'
        %th.center{:data => {:searchable => 'true', :sortable => 'true'}}= 'Last Life Cycle Action'
        %th.center{:data => {:searchable => 'true', :sortable => 'true'}}= 'Life Cycle Action Date'
        %th.center{:data => {:visible => 'false', :searchable => 'true', :sortable => 'true'}}= 'External ID'
        %th.center{:data => {:visible => 'false', :searchable => 'true', :sortable => 'true'}}= 'Subtype*'
        %th.center{:data => {:visible => 'false', :searchable => 'true', :sortable => 'true'}}= 'Funding Program (largest %)'
        %th.center{:data => {:visible => 'false', :searchable => 'true', :sortable => 'true'}}= 'Cost (Purchase)'
        %th.center{:data => {:visible => 'false', :searchable => 'true', :sortable => 'true'}}= 'In Service Date'
        %th.center{:data => {:visible => 'false', :searchable => 'true', :sortable => 'true'}}= 'Direct Capital Responsibility'
        %th.center{:data => {:visible => 'false', :searchable => 'true', :sortable => 'true'}}= 'Description*'
        %th.center{:data => {:visible => 'false', :searchable => 'true', :sortable => 'true'}}= 'Asset Group'
        %th.center{:data => {:visible => 'false', :searchable => 'true', :sortable => 'true'}}= 'Service Life - Current'
        %th.center{:data => {:visible => 'false', :searchable => 'true', :sortable => 'true'}}= 'TERM Condition'
        %th.center{:data => {:visible => 'false', :searchable => 'true', :sortable => 'true'}}= 'TERM Rating'
        %th.center{:data => {:visible => 'false', :searchable => 'true', :sortable => 'true'}}= 'Date of Condition Assessment'
        %th.center{:data => {:visible => 'false', :searchable => 'true', :sortable => 'true'}}= 'Replace / Rehab Policy (ESL)'
        %th.center{:data => {:visible => 'false', :searchable => 'true', :sortable => 'true'}}= 'ESL - Adjusted'
        %th.center{:data => {:visible => 'false', :searchable => 'true', :sortable => 'true'}}= 'Rebuild / Rehab Type'
        %th.center{:data => {:visible => 'false', :searchable => 'true', :sortable => 'true'}}= 'Date of Rebuild / Rehab'
        %th.center{:data => {:visible => 'false', :searchable => 'true', :sortable => 'true'}}= 'Location'
        %th.center{:data => {:visible => 'false', :searchable => 'true', :sortable => 'true'}}= 'Current Book Value'
        %th.center{:data => {:visible => 'false', :searchable => 'true', :sortable => 'true'}}= 'Replacement Status'
        %th.center{:data => {:visible => 'false', :searchable => 'true', :sortable => 'true'}}= 'Replacement Policy Year'
        %th.center{:data => {:visible => 'false', :searchable => 'true', :sortable => 'true'}}= 'Replacement Actual Year'
        %th.center{:data => {:visible => 'false', :searchable => 'true', :sortable => 'true'}}= 'Scheduled Replacement Cost'
    %tbody
      - @table_view_data.each do |asset|
        %tr
          -#Asset ID
          %td.left= link_to asset.transam_asset_asset_tag, inventory_path(asset.transam_asset_object_key)
          -#Organization
          %td.left= asset.transam_asset_organization_short_name

          -#Facility Name
          %td.left= asset.facility_facility_name

          -#Facility Categorization
          %td.left= asset.facility_esl_category_name

          -#Component - Sub-Component Type
          -unless asset.facility_component_type_name.nil?
            %td.left= asset.facility_component_type_name
          -else
            %td.left= 'Facility'

          -#Year
          %td.left= asset.transam_asset_manufacture_year
          -#Class
          %td.left= asset.transit_asset_fta_asset_class_name
          -#Type <---FTA Type
          %td.left= asset.transit_asset_fta_asset_class_class_name

          -#Status
          -if(asset.service_status_event_id.nil?)
            %td.left= 'No Service Status Event Recorded'
          -else
            %td.left= asset.most_recent_service_status_event_service_status_type_name

          -#ESL <----Calculates whether past ESL
          -if(asset.transam_asset_in_backlog?)
            %td.left
              %i.fa.fa-flag
          -else
            %td.left= '-'

          -#Last Lifecycle Action & Life Cycle Action Date
          -if(asset.most_recent_asset_event_id.nil?)
            %td.left= 'No Life Cycle Actions'
            %td.left= '-'
          -else
            %td.left= asset.most_recent_asset_event_asset_event_type_name
            %td.left= asset.most_recent_asset_event_updated_at

          -#External ID
          %td.left= asset.transam_asset_external_id
          -#Subtype
          %td.left= asset.transam_asset_asset_subtype_name
          -#TODO: Funding Program (largest %)
          %td.left= "Funding Program Largest %"
          -#Purchase Cost
          %td.left= asset.transam_asset_purchase_cost
          -#In Service Date
          %td.left= asset.transam_asset_in_service_date
          -#Direct Capital Responsibility
          %td.left= asset.direct_capital_responsibility
          -#Description
          %td.left= asset.transam_asset_description

          -#Asset Group
          -if(!asset.asset_group_name.nil?)
            %td.left= asset.asset_group_name
          -else
            %td.left= '-'

          -#Service Life - Current
          %td.left= asset.age


          -#TERM Condition, TERM Rating, and Date of Condition Assessment
          -if(!asset.most_recent_condition_event_condition_type_id.nil?)
            %td.left= asset.most_recent_condition_event_condition_type_name
            %td.left= asset.most_recent_condition_event_assessed_rating
            %td.left= asset.most_recent_condition_event_updated_at
          -else
            %td.left= 'UNKNOWN'
            %td.left= 'UNKNOWN'
            %td.left= 'UNKNOWN'

          -#Replace / Rehab Policy (ESL) <----This should be months of useful life for vehicle
          -expected_useful_life = asset.expected_useful_life
          %td.left= expected_useful_life

          -#ESL - Adjusted <----Above ESL figure + addition from rebuild,
          -if(!asset.most_recent_rebuild_event_extended_useful_life_months.nil? && !expected_useful_life.nil?)
            %td.left= asset.rebuild_event.extended_useful_life_months + expected_useful_life
          -else
            %td.left= 'N/A'

          -#Rebuild / Rehab Type, and Date of Rebuild / Rehab
          -unless asset.most_recent_rebuild_event_comments.nil? && asset.most_recent_rebuild_event_updated_at.nil?
            %td.left= asset.most_recent_rebuild_event_comments
            %td.left= asset.most_recent_rebuild_event_updated_at
          -else
            %td.left= 'N/A'
            %td.left= 'N/A'


          -#Location
          %td.left= asset.transam_asset_location_asset_tag
          -#Current Book Value
          %td.left= asset.transam_asset_book_value

          -#Replacement Status
          -if(!asset.most_recent_early_replacement_event_replacement_status_type_name.nil?)
            %td.left= asset.most_recent_early_replacement_event_replacement_status_type_name
          -else
            %td.left= 'N/A'

          -#Replacement Policy Year
          %td.left= asset.transam_asset_policy_replacement_year
          -#Replacement Actual Year
          %td.left= asset.transam_asset_scheduled_replacement_year
          -#Scheduled Replacement Cost
          %td.left= asset.transam_asset_scheduled_replacement_cost