= format_field("Emergency Contingency Fleet", format_as_boolean(@asset.fta_emergency_contingency_fleet) )
= format_field("Funding Type", @asset.fta_funding_type)
= format_field("FTA Vehicle Type", @asset.fta_vehicle_type)
= format_field("FTA Modes", format_as_list(@asset.fta_mode_types) )
= format_field("FTA Services", format_as_list(@asset.fta_service_types) )
= format_field("FTA Ownership", @asset.fta_ownership_type )
