%fieldset
  %legend.panel-legend Manufacturer
  = format_field("Manufacturer", @asset.manufacturer.name )
  = format_field("Model", @asset.manufacturer_model )
  = format_field("Manufacture Year", @asset.manufacture_year )
  = format_field("Rebuild Year", @asset.rebuild_year )
%fieldset
  %legend.panel-legend Configuration
  = format_field("Fuel Type", @asset.fuel_type.blank? ? "Unknown" : @asset.fuel_type.name )
  = format_field("Length (ft)", @asset.vehicle_length )
