.row
  = simple_form_for(@asset,
  :as => :asset,
  :url => @asset.new_record? ? inventory_index_path : inventory_path,
  :method => @asset.new_record? ? 'post' : 'put',
  :html => {:class => 'form-vertical'},
  :wrapper => :vertical_form,
  :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
    :radio_buttons => :vertical_radio_and_checkboxes,
    :file => :vertical_file_input,
    :boolean => :vertical_boolean}) do |f|

    = f.input :asset_type_id, :as => :hidden
    = f.input :organization_id, :as => :hidden

    .col-md-3
      = dialog_tag('Vehicle Type', {:icon => 'fa fa-refresh', :class => "form_part"}) do
        = f.association :asset_subtype, :collection => AssetSubtype.active.where(asset_type_id: @asset.asset_type_id), :include_blank => false
        = f.input :asset_tag, :prompt => "Enter the asset tag...", :label => "Asset Tag", :input_html => {:data => {:convert => "uppercase"}}
        = f.input :external_id, :prompt => "Enter any external ID...", :label => "External ID", :input_html => {:maxlength => 32}
        = f.association :manufacturer, :prompt => "Select manufacturer...", :collection => Manufacturer.active_for_asset_type(@asset.asset_type), :label_method => :to_s
        = f.input :other_manufacturer, :disabled => f.object.manufacturer_id != Manufacturer.active_for_asset_type(@asset.asset_type).find_by(code: 'ZZZ').try(:id), :input_html => {:maxlength => 30}
        = f.input :manufacturer_model, :prompt => "Select manufacturer model...", :label => "Manufacturer Model"
        = f.input :manufacture_year, :label => "Manufacture Year"
        = f.input :title_number, :label => "Title Number"
        = f.association :title_owner, :collection => Organization.where(id: @organization_list), :label_method => 'coded_name', :label => "Title Owner"

        - view_component = 'app_locomotive_form'
        - if lookup_context.template_exists?(view_component, 'assets', true)
          = render :partial => "assets/#{view_component}", :locals => {:f => f}

    .col-md-3
      = dialog_tag('Characteristics', {:icon => 'fa fa-refresh', :class => "form_part"}) do
        = f.association :fuel_type, :collection => FuelType.active, :label_method => :to_s, :prompt => "Select type of fuel...", :label => "Fuel Type"
        = f.association :dual_fuel_type, :collection => DualFuelType.active, :label_method => :to_s, :label => "Dual Fuel Type", :disabled => f.object.fuel_type_id != FuelType.find_by(name: 'Dual Fuel').try(:id)
        = f.input :other_fuel_type, :disabled => f.object.fuel_type_id != FuelType.find_by(name: 'Other').try(:id), :input_html => {:maxlength => 30}
        = f.input :vehicle_length, :label => "Vehicle Length (ft)"
        = f.input :rebuild_year, :label => "Rebuild Year"
        = f.association :location, :collection => SupportFacility.where('organization_id = ?', @asset.organization_id)
    .col-md-3
      = dialog_tag('Purchase', {:icon => 'fa fa-refresh', :class => "form_part"}) do
        = f.input :purchase_cost, :wrapper=> :vertical_prepend, :label => "Purchase Cost" do
          %span.input-group-addon
            %i.fa.fa-usd
          = f.input_field :purchase_cost, :class => "form-control"

        = f.input :purchase_date, :wrapper => :vertical_append, :label => "Purchase Date"  do
          = f.input_field :purchase_date, :as => :string, :class => 'form-control datepicker', :data => {'behavior' => 'datepicker'}, :value => format_as_date(f.object.purchase_date)
          %span.input-group-addon
            %i.fa.fa-calendar

        = f.input :warranty_date, :wrapper => :vertical_append, :label => "Warranty Date" do
          = f.input_field :warranty_date, :as => :string, :class => 'form-control datepicker', :data => {'behavior' => 'datepicker'}, :value => format_as_date(f.object.warranty_date)
          %span.input-group-addon
            %i.fa.fa-calendar

        = f.input :in_service_date, :wrapper => :vertical_append, :label => "In Service Date" do
          = f.input_field :in_service_date, :as => :string, :class => 'form-control datepicker', :data => {'behavior' => 'datepicker'}, :value => format_as_date(f.object.in_service_date)
          %span.input-group-addon
            %i.fa.fa-calendar
        = f.input :purchased_new, :as => :radio_buttons, :required => true, :label => "Purchased New"
        = f.input :vendor_id, :as => :hidden
        = f.input :vendor_name, :label => 'Vendor', :input_html => {:autocomplete => 'off', :class => 'form-control', :placeholder => 'Enter vendor name', :id => 'vendor_name', :data => {:url => filter_vendors_path}}
        = f.input :expected_useful_life, :as => :hidden, :value => 0

        -# render the engine form components if there are any
        - SystemConfig.transam_module_names.each do |mod|
          - view_component = "#{mod}_asset_form"
          - Rails.logger.debug "Checking for #{view_component}: Results = #{lookup_context.template_exists?(view_component, 'assets', true)}"
          - if lookup_context.template_exists?(view_component, 'assets', true)
            = render :partial => "assets/#{view_component}", :locals => {:f => f}
    .col-md-3
      = dialog_tag('FTA Reporting', {:icon => 'fa fa-refresh', :class => "form_part"}) do
        = f.input :fta_emergency_contingency_fleet, :label => "FTA Emergency Contingency Fleet"
        = f.association :fta_funding_type, :collection => FtaFundingType.active, :label_method => :to_s, :prompt => "Select funding type...", :label => "FTA Funding Type"
        = f.association :fta_vehicle_type, :collection => FtaVehicleType.active, :label_method => :to_s, :label => "FTA Vehicle Type"
        = f.input :primary_fta_mode_type_id, :required => true, :as => :select, :collection => FtaModeType.active, :label_method => :to_s, :label => "Primary Mode"
        = f.input :primary_fta_service_type_id, :required => true, :as => :radio_buttons, :collection => FtaServiceType.active, :label_method => :to_s, :label => "FTA Service Type"
        .well.well-sm
          = f.input :secondary_fta_mode_type_id, :collection => FtaModeType.active, :label_method => :to_s, :label => "Supports Another Mode", :input_html => {class: 'secondary-group'}
          = f.input :secondary_fta_service_type_id, :collection => FtaServiceType.active, :label_method => :to_s, :label => "Supports Another FTA Service Type", :input_html => {class: 'secondary-group'}
        .form-group.required
          %label.required.control-label
            %abbr{title: 'required'} *
            = " Direct Capital Resposibility"
          %span.radio
            %label
              = radio_button_tag :direct_capital_responsibility, 'yes', @asset.direct_capital_responsibility
              Yes
          %span.radio
            %label
              = radio_button_tag :direct_capital_responsibility, 'no', !@asset.direct_capital_responsibility
              No

        = f.input :pcnt_capital_responsibility, :required => @asset.direct_capital_responsibility, :disabled => !@asset.direct_capital_responsibility, :wrapper => :vertical_append, :label => "Percent Capital Responsibility" do
          = f.input_field :pcnt_capital_responsibility, :class => 'form-control', :required => @asset.direct_capital_responsibility, :disabled => !@asset.direct_capital_responsibility, :min => 1
          %span.input-group-addon %

        = f.input :dedicated, :as => :radio_buttons, :required => true, :label => "Dedicated"

        = f.association :fta_ownership_type, :collection => FtaOwnershipType.active, :label_method => :to_s, :prompt => "Select ownership type...", :label => "FTA Ownership Type"
        = f.input :other_fta_ownership_type, :disabled => f.object.fta_ownership_type_id != FtaOwnershipType.find_by(name: 'Other').try(:id), :input_html => {:maxlength => 30}, :label => "Other FTA Ownership Type"

    .col-md-12
      = f.button :submit, :class => 'btn btn-primary'

:javascript

  // Document Ready
  $(document).ready(function(){

    // Force uppercase text for OFT inputs
    $('[data-convert="uppercase"]').keyup(function(evt) {
      this.value = this.value.toUpperCase();
    });

    $('[data-behavior~=datepicker]').datepicker({
    });

    $('#vendor_name').on('focus', function() {
      _typeahead_source_url = $(this).data('url');
    });

    // Enable typeahead for the SMO filter
    $('#vendor_name').typeahead({
      items: 10,
      minLength: 2,
      source: _typeahead_searcher,
      matcher: _typeahead_matcher,
      highlighter: _typeahead_highlighter,
      updater: function (obj) {
        var item = JSON.parse(obj);
        // Update the UI
        $('#vendor_name').attr('value', item.name);
        $('#asset_vendor_id').attr('value', item.id);
        return item.name;
      }
    });
    $('#asset_primary_fta_mode_type_id').rules("add", {
      uniqueSecondaries: true
    });
    $("input:radio[name='asset[primary_fta_service_type_id]']").each(function() {
      $(this).rules("add", {
        uniqueSecondaries: true
      });
    });
    $('#asset_secondary_fta_mode_type_id').rules("add", {
      uniqueSecondaries: true
    });
    $('#asset_secondary_fta_service_type_id').rules("add", {
      uniqueSecondaries: true
    });
    
    $('#asset_primary_fta_mode_type_id').on('change', function(evt){
      $(this).valid();
    });
    $('#asset_secondary_fta_mode_type_id').on('change', function(evt){
      $(this).valid();
    });
    $("input:radio[name='asset[primary_fta_service_type_id]']").each(function() {
      $(this).on('change', function(evt){
        $(this).valid();
      });
    });
    $('#asset_secondary_fta_service_type_id').on('change', function(evt){
      $(this).valid();
    });
  });
