= format_field("Name", @asset.description )
= format_field("Address", format_as_address(@asset) )
= format_field("Year Built", @asset.manufacture_year )
= format_field("Facility Size", format_as_integer(@asset.facility_size) )
= format_field("Percent Operational", format_as_percentage(@asset.pcnt_operational) )
= format_field("Num. Structures", @asset.num_structures )
= format_field("Num. Floors", @asset.num_floors )
= format_field("Lot Size", format_as_integer(@asset.lot_size) )
= format_field("Capacity", @asset.facility_capacity_type)
