= format_field("Manufacturer", @asset.manufacturer.name )
= format_field("Model", @asset.manufacturer_model )
= format_field("Manufacture Year", @asset.manufacture_year )
= format_field("Vehicle Identification Number", @asset.serial_number )
= format_field("License Plate", @asset.license_plate )
= format_field("Fuel Type", @asset.fuel_type )
= format_field("Gross Vehicle Weight (lbs)", format_as_integer(@asset.gross_vehicle_weight) )
= format_field("Seating Capacity", format_as_integer(@asset.seating_capacity) )
