= format_field("Name", @asset.description )
= format_field("Address", format_as_address(@asset) )
= format_field("Year Built", @asset.manufacture_year )
= format_field("Facility Size", format_as_integer(@asset.facility_size) )
= format_field("Section of Larger Facility", format_as_boolean(@asset.section_of_larger_facility) )
= format_field("Percent Operational", format_as_percentage(@asset.pcnt_operational) )
= format_field("Num. Structures", @asset.num_structures )
= format_field("Num. Floors", @asset.num_floors )
= format_field("Num. Elevators", @asset.num_elevators )
= format_field("Num. Escalators", @asset.num_escalators )
= format_field("Num. Public Parking Spaces", format_as_integer(@asset.num_parking_spaces_public) )
= format_field("Num. Private Parking Spaces", format_as_integer(@asset.num_parking_spaces_private) )
= format_field("Lot Size", format_as_integer(@asset.lot_size) )
= format_field("Line Number", @asset.line_number)
= format_field("LEED Certification Type", @asset.leed_certification_type )
= format_field("Features", format_as_list(@asset.facility_features))
