.row
  = simple_form_for(@asset,
  :as => :asset,
  :url => @asset.new_record? ? inventory_index_path : inventory_path,
  :method => @asset.new_record? ? 'post' : 'put',
  :html => {:class => 'form-vertical'},
  :wrapper => :vertical_form,
  :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
    :radio_buttons => :vertical_radio_and_checkboxes,
    :file => :vertical_file_input,
    :boolean => :vertical_boolean}) do |f|
    = f.input :asset_type_id, :as => :hidden
    = f.input :asset_subtype_id, :as => :hidden

    .col-md-3
      = dialog_tag('Transit Facility', {:icon => 'fa fa-refresh', :class => "form_part"}) do
        = f.input :asset_tag, :prompt => "Enter the asset tag...", :label => "Asset Tag"
        = f.input :description
        = f.input :address1, :label => "Address 1"
        = f.input :address2, :label => "Address 2"
        .row
          .col-sm-4
            = f.input :city
          .col-sm-4
            = f.input :state, :as => :select, :collection => Country['US'].states
          .col-sm-4
            = f.input :zip
        = f.association :land_ownership_type, :label => "Land Ownership Type"
        = f.association :land_ownership_organization, :label => "Land Owner"
        = f.association :building_ownership_type, :label => "Building Ownership Type"
        = f.association :building_ownership_organization, :label => "Building Owner"
    .col-md-3
      = dialog_tag('Structure', {:icon => 'fa fa-refresh', :class => "form_part"}) do
        = f.input :manufacture_year, :label => "Year Built"
        = f.input :facility_size, :label => "Facility Size"
        = f.input :pcnt_operational, :label => "Percent Operational"
        = f.input :num_structures, :label => "Num. Structures"
        = f.input :num_floors, :label => "Num. Floors"
        = f.input :lot_size, :label => "Lot Size"
        = f.input :num_elevators, :label => "Num. Elevators"
        = f.input :num_escalators, :label => "Num. Escalators"
        = f.association :facility_features, :as => :check_boxes, :label => "Facility Features"
    .col-md-3
      = dialog_tag('Purchase', {:icon => 'fa fa-refresh', :class => "form_part"}) do
        = f.input :purchase_cost, :wrapper=> :vertical_prepend, :label => "Purchase Cost" do
          %span.input-group-addon
            %i.fa.fa-usd
          = f.input_field :purchase_cost, :class => "form-control"

        = f.input :purchase_date, :wrapper => :vertical_append, :label => "Purchase Date" do
          = f.input_field :purchase_date, :as => :string, :class => 'form-control datepicker', :data => {'behavior' => 'datepicker'}, :value => f.object.purchase_date.strftime("%m-%d-%Y")
          %span.input-group-addon
            %i.fa.fa-calendar
        = f.input :in_service_date, :wrapper => :vertical_append, :label => "In Service Date" do
          = f.input_field :in_service_date, :as => :string, :class => 'form-control datepicker', :data => {'behavior' => 'datepicker'}, :value => f.object.in_service_date.strftime("%m-%d-%Y")
          %span.input-group-addon
            %i.fa.fa-calendar
        = f.input :purchased_new, :as => :radio_buttons, :label => "Purchased New?"
        = f.association :manufacturer
        = f.association :vendor
        = f.association :fta_funding_type, :prompt => "Select funding type...", :label => "FTA Funding Type"
        = f.input :expected_useful_life,  :label => "Expected Useful Life",   :collection => get_max_useful_years_collection
    .col-md-3
      = dialog_tag('FTA Reporting', {:icon => 'fa fa-refresh', :class => "form_part"}) do
        = f.input :ada_accessible_ramp, :label => "ADA Accessible"
        = f.association :fta_mode_types, :label => "FTA Mode Types"
        = f.association :fta_service_types, :as => :check_boxes, :label => "FTA Service Types"

    .col-md-12
      = f.button :submit, :class => 'btn btn-primary'

:javascript

  // Document Ready
  $(document).ready(function(){
    $('[data-behavior~=datepicker]').datepicker({
      format: "mm-dd-yyyy"
    });
  });
