.row
  = simple_form_for(@asset,
  :as => :asset,
  :url => @asset.new_record? ? inventory_index_path : inventory_path,
  :method => @asset.new_record? ? 'post' : 'put',
  :html => {:class => 'form-vertical'},
  :wrapper => :vertical_form,
  :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
    :radio_buttons => :vertical_radio_and_checkboxes,
    :file => :vertical_file_input,
    :boolean => :vertical_boolean}) do |f|

    = f.input :asset_type_id, :as => :hidden
    = f.input :asset_subtype_id, :as => :hidden
    = f.input :organization_id, :as => :hidden

    .col-md-3
      = dialog_tag('Transit Facility', {:icon => 'fa fa-refresh', :class => "form_part"}) do
        = f.input :asset_tag, :prompt => "Enter the asset tag...", :label => "Asset Tag"
        = f.input :external_id, :prompt => "Enter any external ID...", :label => "External ID"
        = f.input :description, :label => "Name"
        = f.input :address1, :label => "Address 1"
        = f.input :address2, :label => "Address 2"
        .row
          .col-sm-4
            = f.input :city
          .col-sm-4
            = f.input :state, :as => :select, :collection => Country['US'].states
          .col-sm-4
            = f.input :zip
        = f.association :land_ownership_type, :label => "Land Ownership Type"
        = f.association :land_ownership_organization, :selected => @organization.id, :label => "Land Owner"
        = f.association :building_ownership_type, :label => "Building Ownership Type"
        = f.association :building_ownership_organization, :selected => @organization.id, :label => "Building Owner"

    .col-md-3
      = dialog_tag('Structure', {:icon => 'fa fa-refresh', :class => "form_part"}) do
        = f.input :manufacture_year, :label => "Year Built"
        = f.input :facility_size, :label => "Facility Size (sq ft)"
        = f.input :section_of_larger_facility, :label => "Section of Larger Facility"
        = f.input :pcnt_operational, :label => "Percent Operational"
        = f.input :num_structures, :label => "Num. Structures"
        = f.input :num_floors, :label => "Num. Floors"
        = f.input :num_elevators, :label => "Num. Elevators"
        = f.input :num_escalators, :label => "Num. Escalators"
        = f.input :num_parking_spaces_public, :label => "Num. Public Parking Spaces"
        = f.input :num_parking_spaces_private, :label => "Num. Private Parking Spaces"
        = f.input :lot_size, :label => "Lot Size (acres)"
        = f.input :line_number, :label => "Line Number"
        = f.association :leed_certification_type, :label => "LEED Certification Type"
        = f.association :facility_features, :as => :check_boxes, :label => "Facility Features"
    .col-md-3
      = dialog_tag('Purchase', {:icon => 'fa fa-refresh', :class => "form_part"}) do
        = f.input :purchase_cost, :wrapper=> :vertical_prepend, :label => "Purchase Cost" do
          %span.input-group-addon
            %i.fa.fa-usd
          = f.input_field :purchase_cost, :class => "form-control"

        = f.input :purchase_date, :wrapper => :vertical_append, :label => "Purchase Date" do
          = f.input_field :purchase_date, :as => :string, :class => 'form-control datepicker', :data => {'behavior' => 'datepicker'}, :value => format_as_date(f.object.purchase_date)
          %span.input-group-addon
            %i.fa.fa-calendar

        = f.input :warranty_date, :wrapper => :vertical_append, :label => "Warranty Date" do
          = f.input_field :warranty_date, :as => :string, :class => 'form-control datepicker', :data => {'behavior' => 'datepicker'}, :value => format_as_date(f.object.warranty_date)
          %span.input-group-addon
            %i.fa.fa-calendar

        = f.input :in_service_date, :wrapper => :vertical_append, :label => "In Service Date" do
          = f.input_field :in_service_date, :as => :string, :class => 'form-control datepicker', :data => {'behavior' => 'datepicker'}, :value => format_as_date(f.object.in_service_date)
          %span.input-group-addon
            %i.fa.fa-calendar
        = f.input :purchased_new, :as => :radio_buttons, :required => true, :label => "Purchased New"
        = f.association :manufacturer, :prompt => "Select manufacturer...", :collection => Manufacturer.active_for_asset_type(@asset.asset_type)
        = f.input :vendor_id, :as => :hidden
        = f.input :vendor_name, :label => 'Vendor', :input_html => {:autocomplete => 'off', :class => 'form-control', :placeholder => 'Enter vendor name', :id => 'vendor_name', :data => {:url => filter_vendors_path}}
        = f.input :expected_useful_life, :as => :hidden, :value => 0
        - if @asset.disposition_type == DispositionType.find_by(name: 'Transferred')
          = f.input :service_status_type_id, :collection => ServiceStatusType.active, :label => "Service Status Type", :include_blank => false
    .col-md-3
      = dialog_tag('FTA Reporting', {:icon => 'fa fa-refresh', :class => "form_part"}) do
        = f.input :ada_accessible_ramp, :label => "ADA Compliant"
        = f.association :fta_funding_type, :prompt => "Select funding type...", :label => "FTA Funding Type"
        = f.input :pcnt_capital_responsibility, :required => true, :wrapper => :vertical_append, :label => "Percent Capital Responsibility" do
          = f.input_field :pcnt_capital_responsibility, :class => 'form-control'
          %span.input-group-addon %
        = f.input :primary_fta_mode_type_id, :as => :select, :collection => FtaModeType.active, :label => "Primary FTA Mode Type"
        = f.association :fta_service_types, :as => :check_boxes, :label => "FTA Service Types"
        = f.association :fta_facility_type, :label => "FTA Facility Type"

        = render :partial => 'grant_purchases_form', :locals => {:f => f}

    .col-md-12
      = f.button :submit, :class => 'btn btn-primary'

:javascript

  // Document Ready
  $(document).ready(function(){
    $('[data-behavior~=datepicker]').datepicker({
    });

    $('#vendor_name').on('focus', function() {
      _typeahead_source_url = $(this).data('url');
    });

    // Enable typeahead for the SMO filter
    $('#vendor_name').typeahead({
      items: 10,
      minLength: 2,
      source: _typeahead_searcher,
      matcher: _typeahead_matcher,
      highlighter: _typeahead_highlighter,
      updater: function (obj) {
        var item = JSON.parse(obj);
        // Update the UI
        $('#vendor_name').attr('value', item.name);
        $('#asset_vendor_id').attr('value', item.id);
        return item.name;
      }
    });
  });
