.row
  .col-lg-8.col-md-8.col-sm-10.col-xs-12.col-lg-offset-2.col-md-offset-2.col-sm-offset-1
    %fieldset
      %legend New Asset
      .col-sm-6.col-xs-12
        = form_tag new_inventory_path, :id => 'asset_subtype_form', :method => "get", :class => 'form-vertical', :role => 'form' do

          - if @organization_list.count > 1
            - if params[:parent_id]
              = hidden_field_tag :organization_id, Asset.find_by(id: params[:parent_id]).organization_id
              = hidden_field_tag :parent_id, params[:parent_id]
            - else
              .form-group
                %label.control-label.string.required
                  * Organization

                = select_tag(:organization_id, options_from_collection_for_select(Organization.where(id: Policy.where('parent_id IS NOT NULL AND organization_id IN (?)', @organization_list).pluck(:organization_id)), :id, :coded_name), :class => 'form-control string required', :prompt => 'Select organization...')

          .form-group
            %label.control-label.string.required
              * FTA Asset Class
            = select_tag(:asset_base_class_id, grouped_options_for_select(FtaAssetCategory.active.each_with_object({}) { |type, hash|  hash[type.to_s] = FtaAssetClass.active.where(fta_asset_category_id: type.id).pluck(:name, :id)}), :class => 'form-control string required', :prompt => 'Select asset class...', :id => 'asset_base_class_id')

          .form-group
            %label.control-label.string.required
              Facility Component Type
            -# need to be hidden by JS if category/class is not facility
            = select_tag(:facility_component_type_id, options_from_collection_for_select(FacilityComponentType.active, :id, :to_s), :class => 'form-control string', :prompt => 'Select facility component...')

          = submit_tag 'Create New Asset', :class => "btn btn-primary", :id => "submit_button"

:javascript

  $(document).ready(function() {
    // Disable the submit button
    $('#submit_button').attr("disabled", "disabled");

    // Add an event listener on the org selector
    $('#organization_id').change(function() {
      enable_disable_submit();
    });

    // Add an event listener on the asset base class selector
    $('#asset_base_class_id').change(function() {
      enable_disable_submit();
    });

    function enable_disable_submit() {
      var org = $('#organization_id').val();
      var val = $('#asset_base_class_id').val();
      if (org && val) {
        $('#submit_button').removeAttr("disabled");
      } else {
        $('#submit_button').attr("disabled", "disabled");
      }
    }

  });
