%table.table.table-hover.table-condensed{style: 'width:100%;'}
  %thead
    %trassets-widget
      %th.left.nowrap{:data => {:sortable => 'true'}} Asset / Segment ID
      - if @organization_list.count > 1
        %th.left.nowrap{:data => {:sortable => 'true'}} Org
      %th.left.nowrap{:data => {:sortable => 'true'}} Desc / Segment Name
      %th.left.nowrap{:data => {:sortable => 'true'}} Subtype
      %th.left.nowrap{:data => {:sortable => 'true'}} Line
      %th.left.nowrap{:data => {:sortable => 'true'}} From
      %th.left.nowrap{:data => {:sortable => 'true'}} Line
      %th.left.nowrap{:data => {:sortable => 'true'}} To
      %th.left.nowrap{:data => {:sortable => 'true'}} Max Permissible Speed
      %th.left.nowrap{:data => {:sortable => 'true'}} Unit
      %th.left.nowrap{:data => {:sortable => 'true'}} Speed Restriction
      %th.left.nowrap{:data => {:sortable => 'true'}} Unit
      %th.left.nowrap{:data => {:sortable => 'true'}} Restriction Cause
      %th.left.nowrap{:data => {:sortable => 'true'}} Active Start
      %th.left.nowrap{:data => {:sortable => 'true'}} Active End
      %th.left.nowrap{:data => {:sortable => 'true'}} Submitted By
      - if can? :update, AssetEvent
        %th

  %tbody
    - results.each do |r|
      %tr
        %td.left
          - if r.tracks.count > 1
            %a.transam-popover{data: {placement: 'auto', toggle: 'popover', html: 'true', content: "<div style='overflow-y:scroll;max-height:100px;'>#{format_as_list(r.tracks.map{|t| link_to(t.asset_tag, inventory_path(t.object_key))})}</div>"}, title: 'Asset / Segment ID', tabindex: '0'}
              Multiple
          - else
            = link_to(r.transam_asset.asset_tag, inventory_path(r.transam_asset.object_key))
        - if @organization_list.count > 1
          %td.left= r.transam_asset.organization.short_name
        %td.left
          - if r.tracks.count > 1
            %a.transam-popover{data: {placement: 'auto', toggle: 'popover', html: 'true', content: "<div style='overflow-y:scroll;max-height:100px;'>#{format_as_list(r.tracks.map{|t| t.description})}</div>"}, title: 'Desc / Segment Name', tabindex: '0'}
              Multiple
          - else
            = r.transam_asset.description
        %td.left
          - if r.tracks.count > 1
            %a.transam-popover{data: {placement: 'auto', toggle: 'popover', html: 'true', content: "<div style='overflow-y:scroll;max-height:100px;'>#{format_as_list(r.tracks.map{|t| t.asset_subtype})}</div>"}, title: 'Subtype', tabindex: '0'}
              Multiple
          - else
            = r.transam_asset.asset_subtype
        - if r.transam_asset.infrastructure_segment_unit_type.name == 'Marker Posts'
          %td.left= r.from_line
          %td.left= format_as_decimal(r.from_segment)
          %td.left= r.to_line
          %td.left= format_as_decimal(r.to_segment)
        - else
          %td.left{colspan: 4}
        %td.left
          - if r.tracks.count > 1
            %a.transam-popover{data: {placement: 'auto', toggle: 'popover', html: 'true', content: "<div style='overflow-y:scroll;max-height:100px;'>#{format_as_list(r.tracks.map{|t| t.max_permissible_speed})}</div>"}, title: 'Max Permissible Speed', tabindex: '0'}
              Multiple
          - else
            = format_as_integer(r.transam_asset.max_permissible_speed)
        %td.left= r.transam_asset.max_permissible_speed_unit
        %td.left= format_as_integer(r.speed_restriction)
        %td.left= r.speed_restriction_unit
        %td.left= r.performance_restriction_type
        %td.left= format_as_date_time(r.start_datetime)
        %td.left= r.end_datetime.present? ? format_as_date_time(r.end_datetime): 'Until Removed'
        %td.left= r.creator
        %td.left
          - evt = r.allowable_events.first
          - if can? evt.to_sym, r
            = link_to fire_workflow_event_inventory_asset_event_path(r.send(Rails.application.config.asset_base_class_name.underscore), r, :event => evt), class: "btn btn-primary btn-sm" do
              = "#{evt.titleize}"

:javascript
  $('#performance-restrictions-widget .transam-popover').popover({
    trigger: 'focus',
    container: 'body',
    animation: 'true',
    html: 'true'
  });
