:ruby
  table_dom_id = SecureRandom.hex

- if grants.empty?
  %p There are no grants associated with this account.
-else
  %table.table.table-hover{:id => table_dom_id, :data => {:toggle => 'table',
    :card_view => "false",
    :pagination => 'true',
    :page_list => "[5, 10, 20, 50, 100, 200]",
    :page_size => current_user.num_table_rows,
    :show_pagination_switch => 'true',
    :search => 'false',
    :show_columns => 'true',
    :show_export => 'true',
    :show_toggle => 'true',
    :resizable => 'true',
    :search => 'false'}}
    %thead
      %tr
        %th.left Grant
        %th.center Fiscal Year
        %th.left Source
        %th.right Amount
        %th.right Expenditures
        %th.right Total Expended
        %th.center

    %tbody
      - total = 0
      - spent = 0
      - grants.each do |grant|
        - total += grant.amount
        - spent += grant.spent
        %tr{:data => {:action_path => grant_path(grant)}}
          %td.left= grant.grant_number
          %td.center= format_as_fiscal_year(grant.fy_year)
          %td.left= grant.funding_source
          %td.right= format_as_currency(grant.amount)
          %td.right= format_as_integer(grant.grant_purchases.count)
          %td.right= format_as_currency(grant.spent)
          %td.center
            = render :partial => "grants/popup_table", :locals => {:grant => grant}
    %tfoot
      %tr
        %td{:colspan => 3}
        %td.right= format_as_currency(total)
        %td.right
        %td.right= format_as_currency(spent)
        %td

  :javascript

    $(window).resize(function() {
      $("##{table_dom_id}").bootstrapTable('resetView');
    });
