%span.subheader_organization_short_name= "#{@asset.organization.short_name}"
= " : "
%span.subheader_asset_tag="#{@asset.asset_tag}"
= " : "
%span.subheader_from_segment="#{@asset.from_segment}"
= " : "
%span.subheader_to_segment="#{@asset.to_segment.present? ? @asset.to_segment : '-'}"
= " : "
%span.subheader_asset_subtype="#{@asset.asset_subtype}"
= " : "
%span.subheader_infrastructure_division="#{@asset.infrastructure_division}"
- unless @asset.infrastructure_subdivision.to_s == 'N/A'
  = " : "
  %span.subheader_infrastructure_division="#{@asset.infrastructure_subdivision}"