:ruby
  table_dom_id = SecureRandom.hex
  show_actions ||= 0
:css
  #primary_header {
    border-bottom: 1px solid #e5e5e5;
  }

  .col-item:nth-child(2){
    width:5%;
  }

%h2{:id => 'primary_header'} Organizations
%legend #{@show_active_only.to_s.capitalize} Organizations

- if show_actions == 1
  #table_actions.row
    = render :partial => "organizations/index_actions"

= javascript_include_tag  "https://kit.fontawesome.com/#{ENV['FONT_AWESOME']}.js"
.library-table
  %table.elbat{:id => table_dom_id,
    :use => 'true',
    :data => {:use => 'true',
      :side => 'client',
      :current_page => '0',
      :current_page_size => '10',
      :page_sizes => "10,20,50,100,200",
      :search => 'client',
      :export => "['csv', 'txt', 'excel']",
      :columns => "Arconym or Short Name,drilldown-link,
                  Common Name (dba),
                  Legal Name,
                  Organization Type,
                  Address 1,
                  City,
                  Zip,
                  Phone,
                  Ext.,
                  Website,
                  Status,
                  ID,
                  External ID,
                  Organization Structure,
                  Country,
                  Address 2,
                  County,",
      :selected_columns => "Arconym or Short Name,
                  Common Name (dba),
                  Legal Name,
                  Organization Type,
                  Address 1,
                  City,
                  Zip,
                  Phone,
                  Ext.,
                  Website,
                  Status",
      :cookies => "true",
      :sort => 'client',
      :sort_params => @params,
      :filter => "[]",
      :data_source => 'client',
      :url => ''}}
  - organizations.each_with_index do |o, index|
    :javascript
      add_row('#{table_dom_id}',
      {
        "Arconym or Short Name": '#{h link_to o.short_name, organization_path(o) }',
        "Common Name (dba)": '#{h o.name }',
        "Legal Name": '#{h o.legal_name }',
        "Organization Type": '#{h o.organization_type }',
        "Address 1": '#{h o.address1 }',
        "City": '#{h o.city }',
        "Zip": '#{h o.zip }',
        "Phone": '#{h format_as_phone_number(o.phone) }',
        "Ext.": '#{h o.phone_ext }',
        "Website": '#{h format_as_url(o.url) }',
        "Status": '#{h o.active ? 'Active' : 'Inactive' }',
        "ID": '#{o.id}',
        "External ID": '#{o.external_id}',
        "Organization Structure": '#{h FtaAgencyType.find(o.fta_agency_type_id).to_s }',
        "Country": '#{h o.country }',
        "Address 2": '#{h o.address2 }',
        "County": '#{h o.county }',

      }, #{index});


-#%table.table.table-hover{:id => table_dom_id, :data => {:toggle => 'table',
-#  :pagination => 'true',
-#  :show_pagination_switch => 'false',
-#  :page_list => "[5, 10, 20, 50, 100, 200, 10000]",
-#  :page_size => current_user.num_table_rows,
-#  :search => 'false',
-#  :toolbar => "#table_actions",
-#  :export_types => "['csv', 'txt', 'excel']",
-#  :show_export => 'true',
-#  :show_columns => 'true',
-#  :show_toggle => 'true',
-#  :cookie => 'true',
-#  :cookie_id_table => "organizationsid",
-#  :cookie_expire => "1y"}}
-#  %thead
-#    %tr
-#       Id
-#       External Id
-#       Acronym or Short Name
-#       Common Name (dba)
-#       Legal Name TEST 2
-#       Organization Type
-#       Organization Structure
-#       Country
-#       Address 1
-#       Address 2
-#       County
-#       City
-#       State
-#       Zip
-#      %th.left.nowrap{:data => {:sortable => 'true'}} Phone
-#       Ext.
-#       Website
-#       Status
-#  %tbody
-#    - organizations.each do |o|
-#      %tr
-#        %td= o.id
-#        %td= o.external_id
-#        %td= link_to o.short_name, organization_path(o), {:style => 'text-decoration: underline'}
-#        %td= o.name
-#        %td= o.legal_name
-#        %td= o.organization_type
-#        %td= FtaAgencyType.find(o.fta_agency_type_id).to_s
-#        %td= o.country
-#        %td= o.address1
-#        %td= o.address2
-#        %td= o.county
-#        %td= o.city
-#        %td= o.state
-#        %td= o.zip
-#        %td= format_as_phone_number(o.phone)
-#        %td= o.phone_ext
-#        %td= format_as_url(o.url)
-#        %td= o.active ? 'Active' : 'Inactive'

= render :partial => 'shared/table_scripts', :locals => {:table_id => table_dom_id, :path_pattern => organization_path("xxx")}
