.nested-fields
  %h3 #{f.object.name}
  = f.hidden_field :id
  = f.input :name, label: "Name"
  = f.input :rta_client_id, label: "RTA Client ID"
  = f.input :rta_client_secret, label: "RTA Secret Key"
  = f.input :rta_tenant_id, label: "RTA Tenant ID"
  = link_to_remove_association "- Remove", f
%hr