= format_field("Agency Type", @org.fta_agency_type)
= format_field("Services", format_as_list(@org.fta_mode_types ) )
= format_field("Service Area Type", @org.fta_service_area_type )
= format_field("Locations Served", format_as_list(@org.districts) )
= format_field("Services Provided", format_as_list(@org.service_provider_types) ) if @org.respond_to? :service_provider_types
