%li
  %a{:href => "#service", :data =>{:toggle => 'tab'}}
    = "Services"

%li
  %a{:href => "#govn", :data =>{:toggle => 'tab'}}
    = "Governance"

- if @org.respond_to? :transit_operators
  = nav_tab_count_tag("#ops", "Transit Operators", @org.transit_operators.active.count)

- if @org.respond_to? :planning_partners
  = nav_tab_count_tag("#partners", "Planning Partners", @org.planning_partners.active.count)

- unless @org.type_of? :planning_partner
  %li
    %a{:href => "#ntdr", :data =>{:toggle => 'tab'}}
      = "NTD Reports"