.well.well-sm{:id => "#{org.id}_#{subtype.id}"}
  %legend= subtype
  - if subtype.asset_type.class_name == "Vehicle"
    = render partial: "vehicle_report_details", :locals => {:subtype => subtype, :assets => assets}
  - else
    = render partial: "basic_asset_report_details", :locals => {:subtype => subtype, :assets => assets}