<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
    <Style ss:ID="Default" ss:Name="Normal">
    <Alignment ss:Vertical="Bottom"/>
    <Borders/>
    <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="11" ss:Color="#000000"/>
    <Interior/>
    <NumberFormat/>
    <Protection/>
    </Style>
    <Style ss:ID="s62">
      <NumberFormat ss:Format="&quot;$&quot;#,##0"/>
    </Style>
  </Styles>
  <Worksheet ss:Name="Summary">
    <Table>
      <Column ss:AutoFitWidth="1" ss:Width="81"/>
        <Row>
          <Cell><Data ss:Type="String">Fiscal Year</Data></Cell>
          <Cell><Data ss:Type="String">Transit Agency</Data></Cell>
          <Cell><Data ss:Type="String">Type</Data></Cell>
          <Cell><Data ss:Type="String">Sub Type</Data></Cell>
          <Cell><Data ss:Type="String">Count</Data></Cell>
          <Cell><Data ss:Type="String">Book Value</Data></Cell>
          <Cell><Data ss:Type="String">Replacement Cost</Data></Cell>
        </Row>
        <% total_book_val = total_repl_cost = total_count = 0 %>
        <% @data.assets.to_a.group_by(&:asset_subtype).each do |ast, assets| %>
          <% assets.group_by(&:organization).each do |org, assets_by_org| %>
            <Row>
              <Cell><Data ss:Type="String"><%= format_as_fiscal_year(@data.fy) %></Data></Cell>
              <Cell><Data ss:Type="String"><%= org %></Data></Cell>
              <Cell><Data ss:Type="String"><%=  ast.asset_type %></Data></Cell>
              <Cell><Data ss:Type="String"><%=  ast %></Data></Cell>
              <% subtype_count = assets_by_org.count %>
              <% total_count += subtype_count %>
              <Cell><Data ss:Type="Number"><%=  subtype_count %></Data></Cell>
              <% book_val_for_ast = assets_by_org.sum{ |a| a.book_value.to_i } %>
              <% total_book_val += book_val_for_ast %>
              <Cell><Data ss:Type="Number"><%= book_val_for_ast %></Data></Cell>
              <% repl_cost_for_ast = assets_by_org.sum{ |a| a.scheduled_replacement_cost.to_i } %>
              <% total_repl_cost += repl_cost_for_ast %>
              <Cell><Data ss:Type="Number"><%= repl_cost_for_ast %></Data></Cell>
            </Row>
          <% end %>
        <% end %>
        <Row>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="Number"><%= total_count %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= total_book_val %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= total_repl_cost %></Data></Cell>
        </Row>

    </Table>
  </Worksheet>
  <Worksheet ss:Name="Details">
    <Table>
      <Column ss:AutoFitWidth="1" ss:Width="81"/>

      <Row>
        <Cell><Data ss:Type="String">Fiscal Year</Data></Cell>
        <Cell><Data ss:Type="String">Agency</Data></Cell>
        <Cell><Data ss:Type="String">Asset Type</Data></Cell>
        <Cell><Data ss:Type="String">Asset Subtype</Data></Cell>
        <Cell><Data ss:Type="String">Asset Tag</Data></Cell>
        <Cell><Data ss:Type="String">Description</Data></Cell>
        <Cell><Data ss:Type="String">VIN/Serial Number</Data></Cell>
        <Cell><Data ss:Type="String">Fuel Type</Data></Cell>
        <Cell><Data ss:Type="String">Length</Data></Cell>
        <Cell><Data ss:Type="String">In Service</Data></Cell>
        <Cell><Data ss:Type="String">Age</Data></Cell>
        <Cell><Data ss:Type="String">Funding Source</Data></Cell>
        <Cell><Data ss:Type="String">ADA</Data></Cell>
        <Cell><Data ss:Type="String">FTA Mode</Data></Cell>
        <Cell><Data ss:Type="String">FTA Ownership</Data></Cell>
        <Cell><Data ss:Type="String">Reported Condition</Data></Cell>
        <Cell><Data ss:Type="String">Reported Condition Date</Data></Cell>
        <Cell><Data ss:Type="String">Scheduled Replacement Year</Data></Cell>
        <Cell><Data ss:Type="String">Book Value</Data></Cell>
        <Cell><Data ss:Type="String">Replacement Cost</Data></Cell>
      </Row>

      <% @data.assets.order(:organization_id, :asset_subtype_id).to_a.each do |asset| %>
        <% a = Rails.application.config.asset_base_class_name.constantize.get_typed_asset(asset) %>
        <% if (!a.nil?) %>
          <Row>
            <Cell><Data ss:Type="String"><%= format_as_fiscal_year(@data.fy) %></Data></Cell>

            <Cell><Data ss:Type="String"><%= a.organization.short_name %></Data></Cell>

            <Cell><Data ss:Type="String"><%= a.asset_type %></Data></Cell>
            <Cell><Data ss:Type="String"><%= a.asset_subtype %></Data></Cell>
            <Cell><Data ss:Type="String"><%= a.asset_tag %></Data></Cell>
            <Cell><Data ss:Type="String"><%= a.description %></Data></Cell>
            <Cell><Data ss:Type="String"><%= a.serial_numbers.first.try(:identification) %></Data></Cell>
            <% if (a.type_of?(:vehicle) || a.type_of?(:support_vehicle)) %>
              <Cell><Data ss:Type="String"><%= a.fuel_type %></Data></Cell>
            <% else %>
              <Cell><Data ss:Type="String">N/A</Data></Cell>
            <% end %>
            <% if (a.type_of?(:rolling_stock)) %>
              <Cell><Data ss:Type="Number"><%= a.vehicle_length %></Data></Cell>
            <% else %>
              <Cell><Data ss:Type="String">N/A</Data></Cell>
            <% end %>
            <Cell><Data ss:Type="String"><%= format_as_fiscal_year(a.in_service_date.year) %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= format_as_integer(a.age) %></Data></Cell>
            <Cell><Data ss:Type="String"><%= a.grant_purchases.map(&:name).join(",") %></Data></Cell>
            <% if a.respond_to? :ada_accessible %>
              <Cell><Data ss:Type="String"><%= (a.ada_accessible) ? "Yes" : "No" %></Data></Cell>
            <% else %>
              <Cell><Data ss:Type="String">N/A</Data></Cell>
            <% end %>

            <% if (a.type_of?(:fta_facility) || a.type_of?(:fta_vehicle)) %>
              <Cell><Data ss:Type="String"><%= a.fta_mode_types.map(&:code).join(",") %></Data></Cell>
            <% else %>
              <Cell><Data ss:Type="String">N/A</Data></Cell>
            <% end %>
            <% if a.type_of?(:fta_vehicle) %>
              <Cell><Data ss:Type="String"><%= a.fta_ownership_type.code %></Data></Cell>
            <% else %>
              <Cell><Data ss:Type="String">N/A</Data></Cell>
            <% end %>
            <Cell><Data ss:Type="String"><%= a.reported_condition_type %></Data></Cell>
            <Cell><Data ss:Type="String"><%= format_as_date(a.reported_condition_date) %></Data></Cell>
            <Cell><Data ss:Type="String"><%= format_as_fiscal_year(a.scheduled_replacement_year) %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= a.book_value %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= a.scheduled_replacement_cost %></Data></Cell>
          </Row>
        <% end %>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
