%table.table.table-condensed.table-hover
  %thead
    %tr
      %th.left Asset Tag
      %th.left VIN / SN
      %th.left Description
      %th.center In Service
      %th.right Age
      %th.right Replacement Cost
      %th.left Grant
      %th.left Rep. Condition
      %th.right Cond. Date
      %th.right Sched. Repl. Year
      %th.right Est. Repl. Year
      %th.right Book Value
  %tbody
    - sum_cost = 0
    - assets.each do |a|
      - asset = Asset.get_typed_asset(a)
      - sum_cost += asset.estimated_replacement_cost.nil? ? 0 : asset.estimated_replacement_cost
      %tr
        %td.left= asset.asset_tag
        %td.left= asset.serial_number
        %td.left= asset.description
        %td.center.nowrap= format_as_fiscal_year(asset.in_service_date.year)
        %td.right.nowrap= format_as_integer(asset.age)
        %td.right.nowrap= asset.estimated_replacement_cost.nil? ? format_as_currency(0) : format_as_currency(asset.estimated_replacement_cost)
        %td.left= format_as_list(asset.grant_purchases.map{|g| "#{g.grant.grant_number} #{format_as_percentage(g.pcnt_purchase_cost)}"})
        %td.left= asset.reported_condition_type
        %td.right.nowrap= format_as_date(asset.reported_condition_date)
        %td.right.nowrap= format_as_fiscal_year(asset.scheduled_replacement_year)
        %td.right.nowrap= format_as_fiscal_year(asset.estimated_replacement_year)
        %td.right.nowrap= format_as_currency(asset.book_value)
  %tfoot
    %tr
      %td{:colspan => 5}
      %td.right= format_as_currency(sum_cost)
      %td{:colspan => 7}
