%table.table.table-hover#disposition_table
  %thead
    %tr
      - @data[:labels_summary].each do |label|
        %th.center= label
  %tbody
    - sum_disposals = 0
    - sum_cost = 0
    - @data[:data_summary].each do |row|
      - sum_disposals += row[:replacement_number]
      - sum_cost += row[:total_cost]
      %tr
        %td.center= row[:fiscal_year]
        %td.center= row[:asset_type]
        %td.center= row[:asset_subtype]
        %td.right= format_as_integer(row[:replacement_number])
        %td.right= format_as_currency(row[:total_cost])
  %tfoot
    %tr
      %td.left Totals
      %td{:colspan => 2}
      %td.right= format_as_integer(sum_disposals)
      %td.right= format_as_currency(sum_cost)

- @data[:fiscal_years].each do |fy|
  %fieldset{:id => fy}
    %legend.panel-legend= fiscal_year(fy)
    = render :partial => 'fiscal_year_disposition_table', :locals => {:fy => fy}

= render :partial => 'shared/datatable_javascript', :locals => {:id => 'disposition_table'}
