%table.table.table-hover
  %thead
    %tr
      %th.left.nowrap Type
      %th.left.nowrap Sub Type
      %th.right.nowrap Count
      %th.right.nowrap Book Value
      %th.right.nowrap Replacement Cost
  %tbody
    - sum_cost = 0
    - sum_book_val = 0
    - assets.group_by(&:asset_subtype).each do |subtype, assets_by_subtype|
      %tr.row-action{:data => {:target => "#{org.id}_#{subtype.id}"}}
        %td.left= subtype.asset_type
        %td.left= subtype
        %td.right= format_as_integer(assets_by_subtype.count)
        - cost = assets_by_subtype.sum{ |a| a.estimated_replacement_cost.to_i }
        - book_val = assets_by_subtype.sum{ |a| a.book_value.to_i }
        - sum_cost += cost
        - sum_book_val += book_val
        %td.right= format_as_currency(book_val)
        %td.right= format_as_currency(cost)
      %tr
        %td.row-detail-panel.hidden{:id => "row-detail-#{org.id}_#{subtype.id}", :colspan => 5}
          = render :partial => 'asset_report_details.html', :locals => {:org => org, :subtype => subtype, :assets => assets_by_subtype}

  %tfoot
    %tr
      %td
      %td.left= "Totals for #{format_as_fiscal_year(fy)}"
      %td.right= format_as_integer(assets.count)
      %td.right= format_as_currency(sum_book_val)
      %td.right= format_as_currency(sum_cost)
