%fieldset
  %legend All Transit Operators
  %table.table
    %thead
      %tr
        %th.left Category
        %th.left Class
        %th.left Type
        %th.left Subtype
        %th.right Count
        %th.right Book Value
        %th.right Replacement Cost
    %tbody
      - sum_book_val = 0
      - sum_cost = 0
      - @data.assets.group('fta_asset_categories.name','fta_asset_classes.name','COALESCE(fta_vehicle_types.name, fta_equipment_types.name, fta_support_vehicle_types.name, fta_facility_types.name, fta_track_types.name, fta_guideway_types.name, fta_power_signal_types.name)', 'asset_subtypes.name').count.each do |k,v|
        %tr
          %td.left= k[0]
          %td.left= k[1]
          %td.left= k[2]
          %td.left= k[3]
          %td.right= format_as_integer(v)
          - book_val = @data.assets.where('fta_vehicle_types.name = ? OR fta_equipment_types.name = ? OR fta_support_vehicle_types.name = ? OR fta_facility_types.name = ? OR fta_track_types.name = ? OR fta_guideway_types.name = ? OR fta_power_signal_types.name = ?', k[2], k[2], k[2], k[2], k[2], k[2], k[2]).where(asset_subtypes: {name: k[3]}).sum{ |a| a.book_value.to_i }
          - cost = @data.assets.where('fta_vehicle_types.name = ? OR fta_equipment_types.name = ? OR fta_support_vehicle_types.name = ? OR fta_facility_types.name = ? OR fta_track_types.name = ? OR fta_guideway_types.name = ? OR fta_power_signal_types.name = ?', k[2], k[2], k[2], k[2], k[2], k[2], k[2]).where(asset_subtypes: {name: k[3]}).sum{ |a| a.scheduled_replacement_cost.to_i }
          - sum_book_val += book_val
          - sum_cost += cost
          %td.right= format_as_currency(book_val)
          %td.right= format_as_currency(cost)
    %tfoot
      %tr
        %td{colspan: 2}
        %td.left= "Totals"
        %td
        %td.right= format_as_integer(@data.assets.count)
        %td.right= format_as_currency(sum_book_val)
        %td.right= format_as_currency(sum_cost)
