%table.table.table-condensed.table-hover
  %thead
    %tr
      %th.left.nowrap Asset Tag
      %th.left.nowrap VIN / SN
      %th.center Fuel
      %th.left Description
      %th.right.nowrap Mileage
      %th.right Length
      %th.center.nowrap In Service
      %th.right Age
      %th.right.nowrap Rep. Cost
      %th.left= GrantPurchase.label.pluralize
      %th.center ADA
      %th.right FTA Mode
      %th.right FTA Bus Mode
      %th.right FTA Ownr
      %th.right.nowrap Condition
      %th.right.nowrap Sched. Repl.
      %th.right.nowrap Policy Repl.
      %th.right.nowrap Book Value
  %tbody
    - sum_cost = 0
    - sum_book_value = 0
    - assets.each do |a|
      - asset = a.very_specific
      - sum_cost += asset.estimated_replacement_cost.to_i
      - sum_book_value += asset.book_value.to_i
      %tr
        %td.left= asset.asset_tag
        %td.left= asset.serial_number
        %td.center= asset.fuel_type.code if asset.fuel_type
        %td.left= asset.description
        %td.right.nowrap= format_as_integer(asset.reported_mileage)
        %td.right.nowrap= format_as_integer(asset.vehicle_length)
        %td.center.nowrap= format_as_fiscal_year(asset.in_service_date.year)
        %td.right.nowrap= format_as_integer(asset.age)
        %td.right.nowrap= format_as_currency(asset.estimated_replacement_cost.to_i)
        %td.left= format_as_list(asset.grant_purchases.map{|g| "#{link_to(g.sourceable.to_s, eval("#{g.sourceable.class.name.underscore}_path(id: '#{g.sourceable.object_key}')"))} (#{format_as_percentage(g.pcnt_purchase_cost)})" if g.sourceable.present?}.compact)
        %td.center= (asset.respond_to? :ada_accessible_lift) ? format_as_boolean(asset.ada_accessible_lift) : nil 
        %td.right= format_as_list(asset.fta_mode_types.map{|f| f.code})
        %td.right= (asset.respond_to? :fta_bus_mode_type) ? (asset.fta_bus_mode_type.code unless asset.fta_bus_mode_type.nil?) : nil
        %td.right= asset.fta_ownership_type.code
        %td.right= asset.reported_condition_type
        %td.right.nowrap= format_as_fiscal_year(asset.scheduled_replacement_year)
        %td.right.nowrap= format_as_fiscal_year(asset.policy_replacement_year)
        %td.right.nowrap= format_as_currency(asset.book_value)
  %tfoot
    %tr
      %td{:colspan => 8}
      %td.right= format_as_currency(sum_cost)
      %td{:colspan => 8}
      %td.right= format_as_currency(sum_book_value)
