:css
  .tam-policy-btn {
    min-width: 175px;
  }


- content_for :content do

  .indent
    .page-header
      %h2 TAM Policy

    %ul.nav.nav-pills
      - if can? :update, TamPolicy
        %li{params[:action] == 'index' ? {class: 'active'}: {}}
          = link_to rule_set_tam_policies_path(@rule_set_type), :class => 'tam-policy-btn btn btn-default' do
            Group Management
      - if can? :lead, TamGroup
        %li{params[:action] == 'tam_groups' ? {class: 'active'}: {}}
          = link_to tam_groups_rule_set_tam_policies_path(@rule_set_type), :class => 'tam-policy-btn btn btn-default' do
            Group Metrics
      %li{params[:action] == 'tam_metrics' ? {class: 'active'}: {}}
        = link_to tam_metrics_rule_set_tam_policies_path(@rule_set_type), :class => 'tam-policy-btn btn btn-default' do
          Performance Metrics

    .modal.fade#form-modal{:tabindex => -1, :role => 'dialog', :aria => {:hidden => true}}

    .row{style: 'padding-top: 25px;'}
      = yield

= render template: "layouts/application"

:javascript

  $('body').popover({
    trigger: 'hover',
    selector: '.transam-popover'
  });

  $('body').tooltip({
    trigger: 'hover',
    selector: '.transam-tooltip'
  });