<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= app_title %></title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>

		<!-- Header -->
		<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<%= link_to app_title, "/", :class => "navbar-brand" %>
				</div>
				<div class="credits pull-right">
					<p class="navbar-text"><%= credits %></p>
				</div>
			</div>
		</nav>
		<!-- Begin page content -->
		<div id="view" class="container-fluid">

			<%= image_tag "transam_transit_banner.jpg", :class => 'img-responsive', :style => 'opacity: 0.85; margin-top:-10px;width:100%;max-height:480px;' %>

			<%= yield %>

			<div class="container">
				<%= render 'shared/marketing' %>
			</div>
		</div>

		<footer class="footer">
			<%= render 'shared/footer' %>
		</div>
	</body>
</html>
