!!!
%html{:lang => "en"}
  %head
    %title= app_title
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = csrf_meta_tags
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  %body
    / Header
    %nav.navbar.navbar-fixed-top.navbar-inverse{:role => "navigation"}
      .container-fluid
        .navbar-header
          = link_to app_title, "/", :class => "navbar-brand"
        .credits.pull-right
          %p.navbar-text= credits
    / Begin page content
    #view.container-fluid
      = image_tag "transam_transit_banner.jpg", :class => 'img-responsive', :style => 'opacity: 0.85; margin-top:-10px;width:100%;max-height:480px;'
      = yield
      .container
        = render 'shared/marketing'
    %footer.footer
      = render 'shared/footer'
      / push the java script to the bottom so the page loads faster
      = render 'shared/javascript'