= simple_form_for(@rule,
  :url => update_policy_rule_policy_path(@policy),
  :remote => true,
  :html => {:class => 'form-vertical', :autocomplete => 'off', :id => 'edit-form'},
  :wrapper => :vertical_form,
  :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
  :radio_buttons => :vertical_radio_and_checkboxes,
  :file => :vertical_file_input,
  :boolean => :vertical_boolean}) do |f|

  -if @rule.id
    = f.input :id, :as => :hidden, :input_html => { :value => @rule.id }

  .row
    .col-xs-4#subtype-selector
      = f.association :asset_subtype, :collection => AssetSubtype.all.map { |type| [type.name, type.id, :class => type.asset_type.name] }
    .col-xs-4
      = f.input :min_service_life_months, :input_html => { min: 1}
    -if @rule.asset_subtype && (@rule.asset_subtype.asset_type.class_name == "Vehicle" || @rule.asset_subtype.asset_type.class_name == "SupportVehicle")
      .col-xs-4.vehicle
        = f.input :min_service_life_miles, :input_html => { min: 0 }
      .col-xs-4.vehicle
        = f.association :fuel_type
    .col-xs-4
      = f.input :min_used_purchase_service_life_months, :input_html => { min: 0 }

    .col-xs-4
      = f.input :replacement_cost, :wrapper=> :vertical_prepend  do
        %span.input-group-addon
          %i.fa.fa-usd
        = f.input_field :replacement_cost, :class => "form-control", :min => 0

    .col-xs-4
      = f.input :cost_fy_year, :collection => get_fiscal_years

    .col-xs-2
      = f.input :replace_with_new

    .col-xs-2
      = f.input :replace_with_leased

    .col-xs-4.leased
      = f.input :lease_length_months, :input_html => { min: 1 }

    .col-xs-4
      = f.input :rehabilitation_service_month, :input_html => { min: 1 }

    .col-xs-4
      = f.input :rehabilitation_cost, :wrapper=> :vertical_prepend  do
        %span.input-group-addon
          %i.fa.fa-usd
        = f.input_field :rehabilitation_cost, :class => "form-control", :min => 0

    .col-xs-4
      = f.input :extended_service_life_months, :input_html => { min: 1 }
    -if @rule.asset_subtype && @rule.asset_subtype.asset_type.class_name == ("Vehicle" || "SupportVehicle")
      .col-xs-4.vehicles
        = f.input :extended_service_life_miles, :input_html => { min: 0 }
    .col-xs-4.ali-code.vehicles.station
      = f.input :purchase_replacement_code
    .col-xs-4.ali-code.vehicles
      = f.input :purchase_expansion_code
    .col-xs-4.ali-code.vehicles
      = f.input :lease_replacement_code
    .col-xs-4.ali-code.vehicles.station
      = f.input :lease_expansion_code
    .col-xs-4.ali-code.vehicles.station
      = f.input :engineering_design_code
    .col-xs-4.ali-code.station
      = f.input :construction_code
    .col-xs-4.ali-code.vehicles.station
      = f.input :rehabilitation_code

  .row
    = f.button :submit, "Update", :class => 'btn btn-primary'
    %button.btn.btn-default{:data => {:dismiss => "modal"}} Cancel

:javascript
  // validate the form before submittal
  $('#edit-form').validate({
    submitHandler: function(form) {
      // Show the spinner while the form request is being handled
      $("#spinner").show();
      $(form).ajaxSubmit();
    }
  });

  $(document).ready(function() {
    // Changes the label of replacement cost to "Lease Cost" if replaced with leased
      var checkbox = $('#policy_asset_subtype_rule_replace_with_leased');

      function isChecked(){
        var checked = checkbox.is(':checked');
        if (checked){
          $("label[for = policy_asset_subtype_rule_replacement_cost]").html(' <abbr title="required">*</abbr> Lease Cost ');
          $('.leased').fadeIn();
        } else {
          $("label[for = policy_asset_subtype_rule_replacement_cost]").html(' <abbr title="required">*</abbr> Replacement Cost ');
          $('.leased').hide().find(':input').val('');
        }
      }

    isChecked();

    checkbox.click(function(){
      isChecked();
    });


    var subtypeSelector = $('#subtype-selector')

    function showAssetAppropriateFields(){
      $('.ali-code').hide();

      var selected = $('#subtype-selector').find('option:selected').attr('class');

      if (selected === "Revenue Vehicles" || selected === "Support Vehicles" || selected === "Rail Cars" || selected === "Locomotives" ){
        $('.vehicles').fadeIn();
      } else if (selected === "Stations/Stops/Terminals"){
        $('.station').fadeIn();
      };


    };

    showAssetAppropriateFields();

    subtypeSelector.change(function(){
      showAssetAppropriateFields();
    });

   });
