= simple_form_for(@rule,
  :url => update_policy_rule_policy_path(@policy),
  :remote => true,
  :html => {:class => 'form-vertical', :autocomplete => 'off', :id => 'edit-form'},
  :wrapper => :vertical_form,
  :wrapper_mappings => {:check_boxes => :vertical_radio_and_checkboxes,
  :radio_buttons => :vertical_radio_and_checkboxes,
  :file => :vertical_file_input,
  :boolean => :vertical_boolean}) do |f|

  - mileage_vehicles = ["Vehicle", "SupportVehicle"]
  - all_vehicles = ["Vehicle", "SupportVehicle", "Locomotive", "RailCar"]
  - subtype_class_name = @rule.asset_subtype.asset_type.class_name

  = f.input :id, :as => :hidden

  %fieldset
    %legend Replacement
    .row
      .col-xs-3
        = f.input :min_service_life_months, :wrapper=> :vertical_append, :label => "Min service life" do
          = f.input_field :min_service_life_months, :class => "form-control", :input_html => { min: 1}
          %span.input-group-addon
            %i.fa Mo

      .col-xs-3
        = f.input :replacement_cost, :wrapper=> :vertical_prepend  do
          %span.input-group-addon
            %i.fa.fa-usd
          = f.input_field :replacement_cost, :class => "form-control", :min => 0
      .col-xs-3
        = f.input :cost_fy_year, :collection => get_fiscal_years
      .col-xs-3
        = f.input :replace_with_new
        = f.input :replace_with_leased

      -if mileage_vehicles.include?(subtype_class_name)
        .col-xs-3.mileage
          = f.input :fuel_type_id, :collection => FuelType.active.collect{|x| [x.name, x.id]}
        .col-xs-3.mileage
          = f.input :min_service_life_miles, :input_html => { min: 0 }
      .col-xs-3.used
        = f.input :min_used_purchase_service_life_months, :label => "Min used service life", :input_html => { min: 48 }
      .col-xs-3.leased
        = f.input :lease_length_months, :input_html => { min: 0 }


      .col-xs-3.vehicles.station
        = f.input :purchase_replacement_code
      -if all_vehicles.include?(subtype_class_name)
        .col-xs-3.vehicles
          = f.input :purchase_expansion_code
        .col-xs-3.vehicles
          = f.input :lease_replacement_code
      .col-xs-3.vehicles.station
        = f.input :lease_expansion_code, required: true, :input_html => {:minlength => 8 , maxlength: 8}
      .col-xs-3.vehicles.station
        = f.input :engineering_design_code, required: true, :input_html => {:minlength => 8 , maxlength: 8}
      -unless all_vehicles.include?(subtype_class_name)
        .col-xs-3.station
          = f.input :construction_code, required: true, :input_html => {:minlength => 8 , maxlength: 8}

  %fieldset
    %legend Rehabilitation

    .row
      .col-xs-3
        = f.input :rehabilitation_service_month, :input_html => { min: 0 }
      .col-xs-3
        = f.input :rehabilitation_cost, :wrapper=> :vertical_prepend  do
          %span.input-group-addon
            %i.fa.fa-usd
          = f.input_field :rehabilitation_cost, :class => "form-control", :min => 0
      .col-xs-3
        = f.input :extended_service_life_months, :input_html => { min: 0 }
      .col-xs-3.mileage
        = f.input :extended_service_life_miles, :input_html => { min: 0 }

    .row
      .col-xs-3.ali-code.vehicles.station
        = f.input :rehabilitation_code

  .row
    = f.button :submit, "Update", :class => 'btn btn-primary'
    %button.btn.btn-default{:data => {:dismiss => "modal"}} Cancel

:javascript

  var asset_class = "#{@rule.asset_subtype.asset_type.class_name}";

  $(document).ready(function() {
    // Setup form state
    var checked = $('#policy_asset_subtype_rule_replace_with_new').is(':checked');
    replace_with_new_action(checked);
    checked = $('#policy_asset_subtype_rule_replace_with_leased').is(':checked');
    replace_with_leased_action(checked);

    show_asset_appropriate_fields();
    subtype_selector.on('change', function() {
      show_asset_appropriate_fields();
    });
  });

  // validate the form before submittal
  $('#edit-form').validate({
    submitHandler: function(form) {
      $('#rule-modal').modal('hide');
      // Show the spinner while the form request is being handled
      $("#spinner").show();
      $(form).ajaxSubmit();
    }
  });

  function replace_with_new_action(checked) {
    if (checked) {
      console.log("new is checked")
      $('.used').hide().find(':input').val('');
    } else {
      console.log("new is not checked.")
      $('.used').fadeIn();
    }
  };
  function replace_with_leased_action(checked) {
    if (checked) {
      $("label[for = policy_asset_subtype_rule_replacement_cost]").html('<abbr title="required">*</abbr> Lease Cost ');
      $('.leased').fadeIn().find(':input').val('').attr('disabled', false);
    } else {
      $("label[for = policy_asset_subtype_rule_replacement_cost]").html('<abbr title="required">*</abbr> Replacement Cost ');
      $('.leased').hide().find(':input').val('').attr('disabled', true);
    }
  };

  $('#policy_asset_subtype_rule_replace_with_new').on('click', function() {
      var checked = $(this).is(':checked');
      replace_with_new_action(checked);
    });


  $('#policy_asset_subtype_rule_replace_with_leased').on('click', function() {
      var checked = $(this).is(':checked');
      replace_with_leased_action(checked);
    });


  function show_asset_appropriate_fields(){
    // Show the Mileage and Fuel if a Vehicle or Support Vehicle
    if (asset_class === "Vehicle" || asset_class === "SupportVehicle"){
      $('.mileage').show();
    } else {
      $('.mileage').hide();
    }
    // These asset types appear to use the same set of ALI codes
    if (asset_class === "TransitFacility" || asset_class === "Equipment"){
      $('.station').show();
    } else {
      $('.station').hide();
    }
  };
